.vagrant/*
b/*
.DS_Store
*.qm
*.swp
CMakeLists.txt.u*
svg
Makefile
plugins/extra
build/
build-win/
b/
hamonize-admin/.vagrant/*
hamonize-admin/.DS_Store
hamonize-admin/svg
hamonize-admin/Makefile
hamonize-admin/plugins/addons
hamonize-admin/plugins/extra
node_modules
**/node_modules/*
*.sh
dist*