.vagrant/*
.DS_Store
*.qm
*.swp
CMakeLists.txt.u*
svg
plugins/extra
build/
build-win/
hamonize-admin/.vagrant/*
hamonize-admin/.DS_Store
hamonize-admin/svg
hamonize-admin/Makefile
hamonize-admin/plugins/addons
hamonize-admin/plugins/extra
package-lock.json
**/package-lock.json
node_modules
**/node_modules/*
dist*
gitAutoPush.sh
hamonize-agent/dpkga.sh
hamonize-agent/usr/share/hamonize-agent/shell/agentautoupdate.sh
hamonize-connector/dpkga.sh
hamonize-connector/src/shell/temp_cloud_dpkg/*
hamonize-connector/usr/local/hamonize-connect/hamonize-connect
.history
hamonize-agent/.history
hamonize-agent/package-lock.json
