@charset "utf-8";

/* 타이틀 */
.tit1 {margin:30px 0 10px; height:auto; padding-left:20px; font-weight:600; font-size:18px; line-height:30px; text-align:left; background:url(../../images/cms/bul_tit1.gif) no-repeat 0 10px;}
.tit1 .desc {margin-left:5px; font-size:13px; font-weight:normal;}
.tit2 {margin:25px 0 10px 20px; height:auto; padding-left:21px; font-weight:600; font-size:16px; line-height:24px; text-align:left; background:url(../../images/cms/bul_tit2.png) no-repeat 0 5px;}

/* 불릿 */
.bul_dot li {margin:4px 0; padding-left:13px; line-height:20px; background:url(../../images/cms/bul_dot_gray.gif) no-repeat 4px 8px;}

/* 글꼴 */
.colr_point {color:#044a85;}
.colr_point2 {color:#f60;}
.colr_point3 {color:#33f;}
.link {text-decoration:underline;}
p.nodata {border-top:2px solid #044a85; border-bottom:1px solid #044a85; padding:50px 0; text-align:center;}
p.tip {margin-top:5px;}
span.tip {margin-left:10px;}

/* 탭메뉴 */
.tab_menu {margin:0 0 40px; border-top:1px solid #ddd; border-left:1px solid #ddd; *zoom:1;}
.tab_menu:after {display:block; clear:both; content:'';}
.tab_menu li {float:left; width:25%;}
.tab_menu li a {display:block; height:48px; padding:0 20px; border-right:1px solid #ddd; border-bottom:1px solid #ddd; color:#444; font-size:16px; white-space:nowrap; text-overflow:ellipsis; line-height:48px; text-align:center; background:#f8f8f8; overflow:hidden;}
.tab_menu li.on {position:relative; z-index:100;}
.tab_menu li.on a {font-weight:600; height:42px; margin:-1px 0 0 -1px; border:1px solid #044a85; border-top:4px solid #044a85; padding-bottom:3px; color:#044a85; line-height:42px; background:#fff;}

/* 박스 */
.box_guide {margin:30px 0; padding:15px 20px; border:1px solid #ddd; background:#f8f8f8;}
.tit1+.box_guide, .tit2+.box_guide {margin-top:20px;}
.box_search {margin:0 0 10px; padding:15px 20px; border:1px solid #ddd;}

/* 텍스트 버튼 */
.btn {display:inline-block; height:30px; padding:0 14px; color:#fff; font-weight:600; font-size:13px; line-height:30px; text-align:center; vertical-align:middle; white-space:nowrap; text-decoration:none !important; background:#999; transition:.3s;}
.btn.inline {height:22px; padding:0 8px; border:0; font-size:12px; line-height:22px; background:#666;}
.btn_area {clear:both; min-height:38px; margin-top:20px; text-align:center; overflow:hidden;}
.tb_list+.btn_area {text-align:right;}
.btn_area .btn {height:38px; padding:0 30px; font-size:16px; line-height:38px; background:#044a85;}
.btn_area .btn+.btn {margin-left:4px;}
a.btn, .btn[type=reset], .btn[type=button] {background:#666;}
.btn.act {background:#044a85;}
.btn.act2 {background:#f60; /* a85ac5 */}
.btn.nav {background:#999 !important;}
.btn:hover {background:#333 !important;}
.btn.act:hover {background:#0875d0 !important;}
.btn.nav:hover {background:#555 !important;}
.btn.xls {background:#1f6f43;}
.btn_area .btn {border-radius:1px;}
.btn_area .list_ctrl {float:left; text-align:left;}
.btn_area .list_ctrl .btn {min-width:70px; height:27px; margin:0; padding:0 10px; border-radius:1px; font-size:13px; line-height:27px; background:#666;}
.btn_area .list_ctrl a.btn {min-width:50px;}
.btn_area .list_ctrl .btn.act {background:#f60 !important;}
.btn_area .list_ctrl .btn.act {background:#f60 !important;}
.btn_area .list_ctrl .btn.act:hover {background:#f30 !important;}
.tb_list .btn {height:24px; padding:0 14px; font-size:13px; line-height:24px;}

/* 아이콘 버튼 */
.ico_new {height:16px; display:inline-block; margin-left:5px; padding:0 4px; border-radius:2px; color:#fff; font-size:10px; line-height:16px; background:#ff6600;}
.btn_post_open, .btn_post_close, .btn_post_del {display:inline-block; width:55px; height:24px; border-radius:1px; color:#fff; font-weight:600; font-size:12px; line-height:24px; text-align:center; vertical-align:middle; text-decoration:none !important; background:#999; overflow:hidden;}
.btn_post_open {background:#044a85;}
.btn_post_del {display:block; margin:3px auto 0; background:#666;}
.btn_download {display:inline-block; width:18px; height:18px; text-indent:100%; white-space:nowrap; vertical-align:middle; background:url(../../images/common/file/etc.gif) no-repeat center center; overflow:hidden;}
.btn_cal {display:inline-block; width:27px; height:30px; text-indent:100%; white-space:nowrap; vertical-align:middle; background:url(../../images/cms/ico_cal.gif) no-repeat; overflow:hidden;}

/* 테이블 */
table {width:100%; border:0; border-spacing:0; table-layout:fixed;}
table+table {margin-top:25px;}
table th, table td {border:0;}
table td a {font-weight:600;}
table td a:hover, table td a:focus {text-decoration:underline;}
table .row+.row {margin-top:5px;}
table td.al {padding-left:15px;}
table td.ar {padding-right:15px;}
table td.nodata {height:100px !important; text-align:center;}
table label+label, table label+input[type=checkbox], table label+input[type=radio] {margin-left:10px;}

table {border-collapse:separate; border-top:2px solid #044a85; border-bottom:1px solid #222;}
table caption {margin-top:0 !important;}
table td, table th {height:30px; padding:5px 15px; border-left:1px solid #ddd; border-top:1px solid #ddd; line-height:18px;}
table th {font-size:14px; background:#f8f8f8;}
table thead th {height:26px; padding:8px; border-top:0;}
table>tbody>tr>th {padding:5px 15px; border-left:1px solid #ddd;}
table thead~tbody th, table thead~tfoot th {padding:5px 10px; text-align:center;}
table thead~tbody tr:first-child>* {border-top:1px solid #999;}
table thead~tbody td, table thead~tfoot td {height:30px; text-align:center;}
table tr>*:first-child {border-left:0;}
table tbody tr:first-child>* {border-top:0;}
table tfoot th, table tfoot td {font-weight:500; background:#eee;}
table .bg th, table .bg td {background:#eee;}
table .req {display:inline-block; width:3px; height:3px; margin:-2px 0 0 -6px; font-size:0; line-height:0; vertical-align:middle; text-indent:100%; overflow:hidden; background:#f60;}
table.compress, table.compress td, table.compress a {font-size:12px;}
table.compress th {font-size:13px;}
table.compress thead th {padding:8px 5px;}
table.compress>tbody>tr>th {padding:3px 5px;}
table.compress td {padding:3px 5px; word-break:break-all;}
table.compress td.al {padding-left:10px;}
table.compress td.ar {padding-right:10px;}
.i_setting {display:inline-block; width:20px; height:20px; text-indent:100%; white-space:nowrap; vertical-align:middle; background:url(../../images/cms/ico_gear.png) no-repeat center center; overflow:hidden;}
.i_new {display:inline-block; margin-left:4px; padding:1px 3px; border-radius:2px; color:#fff; font-size:10px; line-height:13px; vertical-align:middle; background:#ff6600;}
.i_file {display:inline-block; width:16px; height:15px; text-indent:16px; white-space:nowrap; vertical-align:middle; background:url(../../images/cms/sp_icon.png) no-repeat 0 -125px; overflow:hidden;}
.tag {display:inline-block; box-sizing:border-box; min-width:60px; height:24px; padding:0 3px; font-size:12px; line-height:24px; text-align:center; background:#ddd;}
.tag.fin {color:#fff; background:#999;}
.tag.on {color:#fff; background:#0875d5;}

/* 본문스크롤 테이블 */
.tb_head th:last-child {padding-right:16px;}
.tb_body th, .tb_body td {text-align:center;}
.tb_body tr.selected td {background:#ccf0fa;}
.tb_scroll {max-height:520px; border-right:1px solid #ddd; overflow-y:auto;}
.tb_scroll .tb_body {border:0;}
.tb_scroll .tb_body .nodata {height:399px !important;}

/* 트리 */
.tree_area {border:3px solid #ddd;}
.tree_area .tree_ctrl {padding:7px 0; border-bottom:1px solid #ddd; text-align:center; background:#f8f8f8;}
.tree_area .scroll_area {box-sizing:border-box; /* height:367px; */ height:530px; padding:10px; overflow:auto;}
.tree_area .menu_ctrl {padding:7px 0; border-top:1px solid #ddd; text-align:center; background:#f8f8f8;}
.tree_area .chk_list label {margin-right:10px;}
.mng_menu {overflow:hidden;}
.mng_menu .tree_area {float:left; width:270px; border:3px solid #ddd;}
.mng_menu .tree_area .select_site {padding:5px; border-bottom:1px solid #ddd;}
.mng_menu .tree_area .select_site select {width:100%;}
.mng_menu .tree_area .site_scroll {min-height:220px; max-height:400px; overflow:auto;}
.mng_menu .tree_area .tree_scroll {min-height:420px; max-height:700px; overflow:auto;}
.mng_menu .tree_area .tree_scroll .dtree {padding:15px; line-height:1;}
.mng_menu .tree_area .tree_scroll .dtree .clip {overflow:visible;}
.mng_menu .tree_area .tree_scroll .dtree a {vertical-align:middle;}
.mng_menu .tree_area .tree_scroll .dtree a.node:hover, .mng_menu .tree_area .tree_scroll .dtree a.nodeSel:hover {font-weight:bold; color:inherit;}
.mng_menu .tree_area .tree_scroll .dtree a.nodeSel {font-weight:bold; color:#3572c5;}
.mng_menu .input_area {float:right; width:calc(100% - 295px);}

/* 검색 */
.search_area {margin-bottom:40px;}
.tb_search {border-top:2px solid #666; border-bottom:1px solid #ddd; border-right:0;}
.tb_search td, .tb_search th {padding:8px 15px; border-left:1px solid #ddd; border-top:1px solid #ddd;}
.tb_search th {padding-left:20px; color:#333; text-align:left; background:#fff;}
.tb_search tbody th:first-child {border-left:0;}
.search_area .btn_area .btn {background:#666;}
.search_area .btn_area .btn.nav {background:#999;}
.search_area .btn_area .btn:hover {background:#333 !important;}
.term_setting {margin-right:10px; font-size:0; vertical-align:middle;}
.term_setting button {display:inline-block; width:50px; height:30px; margin-right:-1px; border:1px solid #ccc; border-left:1px solid #ddd; border-right:1px solid #ddd; color:#666; font-weight:500; font-size:12px; line-height:28px; text-align:center; vertical-align:middle; text-decoration:none !important; background:#f8f8f8;}
.term_setting button:first-child {border-left:1px solid #ccc; border-radius:2px 0 0 2px;}
.term_setting button:last-child {border-right:1px solid #ccc; border-radius:0 2px 2px 0;}
.term_setting button.on {position:relative; border:1px solid rgba(0,0,0,0.3); color:#fff; text-shadow:0 -1px 0 rgba(0,0,0,0.3); background:#52b9ff; z-index:100;}

/* 목록 */
.tb_list {}
table .tmb img {width:80px; height:80px;}

/* 목록 컨트롤 */
.list_status {margin-bottom:10px; overflow:hidden;}
.list_status .status {float:left; margin-top:6px;}
.list_status .post_num {width:80px; min-width:inherit;}
/* .btn.xls {height:28px; padding:0 12px; border:1px solid #777; color:#fff; line-height:28px; background:#999 !important;} */

/* 상세 */
.tb_view {}
.bbs_article {padding:15px 10px; border-top:2px solid #044a85; border-bottom:1px solid #ddd; *zoom:1;}
.bbs_article:after {display:block; clear:both; content:'';}

/* 댓글 */
.comment_input {margin-top:30px; padding:10px 15px; font-size:13px; border:1px solid #ddd; background:#f8f8f8;}
.comment_input .author_input {margin-bottom:5px;}
.comment_input .author_input strong {margin-right:6px;}
.comment_input .author_input input[type=text] {width:140px;}
.comment_input .author_input .desc {display:inline-block; line-height:28px;}
.comment_input textarea {width:calc(100% - 85px); height:80px;}
.comment_input .btn_comm_write {width:80px; height:80px; color:#fff; vertical-align:middle; background:#7e9ac7;}
.comment_list {margin-top:30px; border-top:1px solid #999; font-size:13px;}
.comment_list dt {margin-bottom:5px; padding-top:5px; line-height:35px;}
.comment_list dt strong {font-size:16px; vertical-align:middle;}
.comment_list dt span {font-size:12px; margin-left:10px; vertical-align:middle;}
.comment_list dd {position:relative; padding-bottom:15px; border-bottom:1px solid #ddd; font-size:14px; line-height:19px;}
.comment_list .btn_comm_del {position:absolute; top:-35px; right:0; padding:0 10px; line-height:24px; font-size:12px;}


/* 등록 */
.tb_write {}
.tb_write thead~tbody td {padding:3px 5px;}

table .attach {display:inline-block;}
table .attach input[type=text] {width:318px;}
table .img_preview {margin:5px 0 3px;}
table .img_preview img {max-width:150px; max-height:150px;}
table .regimg_preview {margin:5px auto 3px; width:120px; height:120px; border:1px solid #ddd; background:#f8f8f8;}
table .regimg_preview img {width:100%; height:100%;}
.bbs_article_write {padding:0 0 15px; border-top:2px solid #044a85; border-bottom:1px solid #ddd;}
.bbs_article_write .editor_option {height:40px; padding:0 15px; border-bottom:1px solid #ddd; line-height:40px; background:#f8f8f8;}
.bbs_article_write .editor_option input+label {margin-right:10px;}
.bbs_article_write textarea {margin-top:15px; width:858px; max-width:100%;}
/* .bbs_article_write iframe {margin-top:15px;} */
.bbs_article_write #ieditor {margin:0 0 -15px;}
.bbs_article_write .output {padding:15px 15px 0;}

/* 설문 */
.poll_input {padding:15px; text-align:center;}
.poll_input table {border-top:1px solid #ddd;}
.poll_input table td {text-align:left;}
.qustnrQesitm>table {margin-top:30px;}
.stat_comp, .stat_wait, .stat_fin, .stat_on {}
.stat_comp {color:#090;}
.stat_wait {color:#F60;}
.stat_fin {color:#777;}
.stat_on {color:#F00;}
.poll_view {margin-top:30px;}
.poll_view dt {padding:10px 15px; border:1px solid #ddd; border-bottom:0; border-radius:5px 5px 0 0; font-weight:600; font-size:17px; line-height:30px; background:#eef2f5;}
.poll_view dt span {display:inline-block; width:30px; height:30px; margin-right:10px; border-radius:100%; font-weight:normal; font-size:12px; color:#fff; text-align:center; background:#044a85;}
.poll_view dd {margin-bottom:20px; padding:20px; border:1px solid #ddd; border-top:0; border-radius:0 0 5px 5px;}
.poll_view .poll_item {margin-top:10px;}
.poll_view .tb_list {margin-top:10px;}

/* 페이징 */
.pagination {margin-top:20px; text-align:center;}
.pagination a, .pagination strong {display:inline-block; min-width:24px; height:30px; border:1px solid #ddd; border-radius:2px; padding:0 3px; color:#666; font-size:13px; line-height:30px; vertical-align:middle;}
.pagination strong {color:#fff; border:1px solid #044a85; background:#044a85;}
.pagination .direction {width:30px; margin:0 10px; padding:0; text-indent:100%; white-space:nowrap; overflow:hidden;}
.pagination .first {background:url(../../images/cms/bg_paging_first.gif) no-repeat center center;}
.pagination .prev {margin-right:10px; background:url(../../images/cms/bg_paging_prev.gif) no-repeat center center;}
.pagination .next {margin-left:10px; background:url(../../images/cms/bg_paging_next.gif) no-repeat center center;}
.pagination .last {background:url(../../images/cms/bg_paging_last.gif) no-repeat center center;}
.pagination .first+.prev, .pagination .next+.last {margin-left:-10px;}

/* 레이어 달력 */
#divCalendar {position:absolute; width:180px; padding:8px 10px; border:2px solid #999; font-size:11px; background-color:#fff; z-index:999;}
#divCalendar * {margin:0; padding:0; font-size:11px !important;}
#divCalendar caption {height:0; font-size:0; line-height:0; overflow:hidden;}
#divCalendar table {table-layout:auto; width:100%; text-align:center; border:0px solid #000; color:#000;}
#divCalendar table, #divCalendar table a {font-size:13px; line-height:20px;}
#divCalendar #tableCalendarTitle td, #divCalendar #tableCalendarTitle td a, #divCalendar #tableMonthTitle td a, #tableYearTitle td {font-weight:600; font-size:13px !important;}
#divCalendar #tableYear a {font-size:12px !important;}
#divCalendar table th {border:0px solid #f8720f; height:auto; background:none; padding:0 !important; margin:0; color:#595959; text-align:center; line-height:20px;}
#divCalendar table td {padding:0 !important; margin:0; height:auto; text-align:center; border:0px solid #000; line-height:1;}
#divCalendar table td a {display:block; color:#595959; text-decoration:none;}
#divCalendar table td a.today {color:#fff !important; background-color:#437dca; font-weight:600; border:1px solid #2059a5; border-radius:2px;}
#divCalendar #tableCalendar th:first-child, #divCalendar #tableCalendar td:first-child a {color:#cf2121;}
#divCalendar #tableCalendar th:last-child, #divCalendar #tableCalendar td:last-child a {color:#0072cf;}
#divCalendar .btn_cal_close {position:absolute; top:-2px; right:-19px; text-align:right;}
#divCalendar .btn_cal_close a {display:block; background:url(../../images/cms/ico_delete.gif) no-repeat; text-indent:100%; white-space:nowrap; overflow:hidden;}
#divCalendar .btn_cal_close, #divCalendar .btn_cal_close a {width:17px; height:16px;}

/* 레이어 팝업 */
.no_scroll {position:fixed; overflow-y:scroll; width:100%; height:100%;}
.layer_popup {display:none; position:absolute; top:30%; right:auto; bottom:auto; left:50%; background:#fff; z-index:500;}
.layer_popup .bg {position:fixed; top:0; right:0; bottom:0; left:0; cursor:pointer;}
.layer_popup .tit_layer {position:relative; margin:0;}
.layer_popup .layer_cont {position:relative; box-sizing:border-box; background:#fff; overflow-y:auto;}
.layer_popup .btn_layer_close {position:absolute; top:0; right:0; padding:0; border:0; text-indent:100%; white-space:nowrap; background:url(../../images/cms/btn_layer_close.png) no-repeat center center; overflow:hidden;}
.layer_popup.modal {width:800px; max-width:calc(100vw - 100px); margin:-350px 0 0 -150px; height:40%;}
.layer_popup.modal .bg {background:rgba(0,0,0,.5);}
.layer_popup.modal .tit_layer {height:40px; padding:0 40px 0 17px; font-size:15px; color:#fff; line-height:40px; text-overflow:ellipsis; white-space:nowrap; background:#1d283b; overflow:hidden;}
.layer_popup.modal .layer_cont {height:calc(100% - 40px); min-height:200px; max-height:calc(100vh - 200px); padding:15px 15px 0; border:2px solid #1d283b; border-top:0;}
.layer_popup.modal .layer_cont:after {clear:both; display:block; height:15px; content:'';}
.layer_popup.modal .btn_layer_close {right:5px; width:40px; height:40px;}
.layer_popup.alert {top:50%; right:auto; bottom:auto; left:50%; width:300px; max-width:calc(100vw - 40px); margin:0 0 0 -150px;}
.layer_popup.alert .bg {display:block; background:rgba(0,0,0,0.5);}
.layer_popup.alert .tit_layer {height:30px; padding:0 17px; font-size:15px; color:#fff; line-height:30px; background:#666;}
.layer_popup.alert .layer_cont {max-height:calc(100vh - 200px); padding:30px; border:1px solid #666; border-top:0; text-align:center;}
.layer_popup.alert .btn_layer_close {width:30px; height:30px;}
.layer_popup .tit1 {margin-top:25px; margin-bottom:10px; padding-left:12px; color:#000; font-size:18px; line-height:30px; background:url(../images/root/bul_tit_bar.png) no-repeat 0 7px;}
.layer_popup .tit1:first-child {margin-top:0;}
.layer_popup .tb_list th, .layer_popup .tb_list td, .layer_popup .tb_view th, .layer_popup .tb_view td {height:30px; padding:5px 10px; font-size:13px;}
.layer_popup .btn_area {margin:30px 0 15px; text-align:center;}
.layer_popup .btn_area .btn {height:32px; padding:0 27px 0 16px; line-height:30px; background-image:url(../images/root/bg_btn_layer.png);}
.layer_popup .btn_area .btn.act {background-image:url(../images/root/bg_btn_ac_layer.png);}
.layer_popup .paging {margin-top:20px;}
.layer_popup .box_pattern, .layer_popup .rbox_pattern {padding:20px 25px;}
