[Unit]
Description=hamonize-agent
Documentation="https://github.com/hamonikr/hamonize/wiki"
After=network.target
StartLimitInterval=33
StartLimitBurst=5

[Service]
Type=simple
OOMScoreAdjust=-1000
Restart=always
RestartSec=5
WorkingDirectory=/usr/share/hamonize-agent
ExecStart=/usr/share/hamonize-agent/hamonize-agent

# make sure log directory exists and owned by syslog
PermissionsStartOnly=true
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=hamonize-agent

[Install]
WantedBy=multi-user.target
