@charset "UTF-8";

.body { 
	margin: 0; 
	padding: 0 30px;
}

#managementDiv {
	float: right;
}
#managementDiv .btn ,
.subMenuDiv .btn {
	font-weight: bold;
	font-size: 13px;
	padding: 4px 12px;
}

.subMenuDiv { margin-bottom: 10px; }
.form-control {
	padding: 4px 12px;
	width: 200px;
}

#contentTitle {
	font-size: 25px;
	font-weight: bold;
	margin-top: 10px;
	padding: 0;
	width: 100%;
}

.noticeDisabled {
	background-color: rgba(0,0,0,0);
	border: 0;
}

.contentInfoDiv {
	font-size: 13px;
	padding: 0 15px;
}
.contentInfoDiv div { float: right; }

/* .contentDetailDiv { padding: 10px 15px; } */
#contentDetail { 
	padding: 0;
	width: 100%;
}
#content p { margin-bottom: 10px; } 

#contentUpdateBtn { text-align: center; }
 
#contentFooter { 
	margin-bottom: 40px;
}

#contentUpdateBtn .btn ,
#contentFooter .btn { 
	/* font-weight: bold;  */
	padding: 5px 40px;
}
.manageDiv { 
	float: right; 
	margin-right: 10px;
}
.listDiv { margin-left: 10px; }