version : '3'
services :
    db:
        container_name: db
        image: postgres:10.16
        environment:
            POSTGRES_USER : hamonize
            POSTGRES_PASSWORD : password
            POSTGRES_DB : hamonize_center
            TZ : "Asia/Seoul"
        ports:
            - "5432:5432"
        volumes:
            - ./sql:/docker-entrypoint-initdb.d
            - psql-data:/var/lib/postgresql/data
        restart: always
 
    web:
        build: .
        volumes:
            - was-logs:/usr/local/tomcat/logs
            - ${HOME}/uploads:/root/uploads       
        ports:
            - "80:8080"
        environment:
            TZ : "Asia/Seoul"
        restart: always

    openldap:
        container_name: openldap
        image: jullee96/openldap:1.2    
#        user: "${UID}:${GID}"     
#        user: "1000:1000"     
        hostname: "ldap-server"
        ports:            
            - "389:389"
            - "636:636"
        environment:
            LDAP_OPENLDAP_GID: 1000
            LDAP_OPENLDAP_UID: 1000
            LDAP_LOG_LEVEL: "256"
            LDAP_TLS: "false"
            LDAP_DOMAIN: hamonize.com
            LDAP_BASE_DN: dc=hamonize,dc=com
            LDAP_ADMIN_PASSWORD: admin
            LDAP_ORGANISATION: invesume
        volumes:
            - ${HOME}/ldap/data:/var/lib/ldap
            - /etc/ldap/slapd.d              
        domainname: "hamonize.com"
        restart: always

    phpldapadmin:
        container_name: phpldapadmin
        image: osixia/phpldapadmin:latest
        ports:
            - "8080:80"
        environment:
            - PHPLDAPADMIN_LDAP_HOSTS=openldap
            - PHPLDAPADMIN_HTTPS="false"
        links:
            - openldap
        depends_on:
            - openldap
        restart: always

    influxdb2:
        container_name: influxdb2
        image: influxdb:2.0.4
        ports:
          - "8086:8086"
        volumes:
          - influxdb-storage:/var/lib/influxdb
        environment:
          - DOCKER_INFLUXDB_INIT_MODE=setup      
          - DOCKER_INFLUXDB_INIT_USERNAME=admin      
          - DOCKER_INFLUXDB_INIT_PASSWORD=password      
          - DOCKER_INFLUXDB_INIT_ORG=myorgname
          - DOCKER_INFLUXDB_INIT_BUCKET=mybucketname
          - DOCKER_INFLUXDB_INIT_RETENTION=1w
          - DOCKER_INFLUXDB_INIT_ADMIN_TOKEN=mytoken
        
        restart: always

    grafana:
        container_name: grafana
        image: grafana/grafana:latest
        ports:
          - "3300:3300"
        volumes:
          - grafana:/var/lib/grafana
          - ./grafana/plugins:/var/lib/grafana/plugins
          - ./grafana.ini:/etc/grafana/grafana.ini
          - ./grafana/provisioning:/etc/grafana/provisioning        
        links:
          - influxdb2
        depends_on:
            - influxdb2     
           
volumes:
    hamonize_center.sql:
    psql-data:
    influxdb-storage:
    grafana:
    was-logs:
