.container {
	/* margin: 5% auto 0 auto; */
	align:center;
	width: 100%;
}
.inContainer {
	margin: 2% auto 0 4%;
	align:center;
	width: 85%;
}

.form-signin {
	color  : #ffffff;
  	max-width: 36%;
  	max-height:10%;
  	display:block;
  	/* background-color: #f7f7f7; */
  	-moz-box-shadow: 0 0 3px 3px #ffffff;
    	-webkit-box-shadow: 0 0 3px 3px #ffffff;
		box-shadow: 0 0 3px 3px #ffffff;
  	border-radius:2px;
}

.form-layerin {
	color  : #ffffff;
  	max-width: 30%;
  	max-height:10%;
  	display:block;
  	/* background-color: #f7f7f7; */
  	-moz-box-shadow: 0 0 3px 3px #ffffff;
    	-webkit-box-shadow: 0 0 3px 3px #ffffff;
		box-shadow: 0 0 3px 3px #ffffff;
  	border-radius:2px;
}

.loginmain{
	padding: 38px;
}
.social-box{
	margin: 0 auto;
	padding: 38px;
	border-bottom:1px #ccc solid;
}
.social-box a{
	font-weight:bold;
	font-size:18px;
	padding:8px;
}
.social-box a i{
	font-weight:bold;
	font-size:20px;
}
.heading-desc{
	font-size:20px;
	font-weight:bold;
	padding:38px 38px 0px 38px;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
	position: relative;
	font-size: 16px;
	/* height: 20px;
	padding: 20px; */
	height: 40px;
	line-height: 40px;
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
}
.form-signin .form-control:focus {
 	z-index: 2;
}
.form-signin input[type="text"] {
	margin-bottom: 0px;
	border-radius: 5px;
}
.form-signin input[type="password"] {
	margin-bottom: 0px;
	border-radius: 5px;
}
.input-group {
    margin-bottom: 15px;
}
.raw {
	margin-top: 15px;
}
.login-footer{
	background:#f0f0f0;
	margin: 0 auto;
	border-top: 1px solid #dadada;
	padding:20px;
}
.login-footer .left-section a{
	font-weight:bold;
	line-height:19px;
}
.mg-btm{
	margin-bottom:20px;
}


.table01 { width:100%}
.table02 { background-color : #FFFFFF; width:100%}
.table02{overflow: hidden;}
.table02 th,.table02 td,.table02 .table>colgroup+thead>tr:first-child>th{text-align: center;vertical-align: middle; color:#000000}
.table02 .table>tbody>tr>td{vertical-align: middle; line-height: 1.3; color:#000000}
.table02 .text-left{text-align: left;}

.table03 { background-color : #FFFFFF; width:100%; }
.table03 {overflow: hidden;}
.table03 th,.table03 td,.table03 .table>colgroup+thead>tr:first-child>th{text-align: left;vertical-align: left; color:#000000}
.table03 .table>tbody>tr>td{vertical-align: left; line-height: 1.3; color:#000000}
.table03 .text-left{text-align: left;}




.mainIcon {
	color : #ffffff;
	position: fixed;
	right:-35%;
	top:48%; 
	width:80%;
} 

/* button */
.btn-brown {
  color: #fff;
  background-color: #675558;
  border-color: #4C4042;
}
.btn-brown:hover,
.btn-brown:focus,
.btn-brown.focus,
.btn-brown:active,
.btn-brown.active,
.open > .dropdown-toggle.btn-brown {
  color: #fff;
  background-color: #58494C;
  border-color: #352C2E;
}
.btn-brown:active,
.btn-brown.active,
.open > .dropdown-toggle.btn-brown {
  background-image: none;
}
.btn-brown.disabled,
.btn-brown[disabled],
fieldset[disabled] .btn-brown,
.btn-brown.disabled:hover,
.btn-brown[disabled]:hover,
fieldset[disabled] .btn-brown:hover,
.btn-brown.disabled:focus,
.btn-brown[disabled]:focus,
fieldset[disabled] .btn-brown:focus,
.btn-brown.disabled.focus,
.btn-brown[disabled].focus,
fieldset[disabled] .btn-brown.focus,
.btn-brown.disabled:active,
.btn-brown[disabled]:active,
fieldset[disabled] .btn-brown:active,
.btn-brown.disabled.active,
.btn-brown[disabled].active,
fieldset[disabled] .btn-brown.active {
  background-color: #715F62;
  border-color: #5D4D50;
}
.btn-brown .badge {
  color: #5bc0de;
  background-color: #fff;
}

.btn-ss,
.btn-group-ss > .btn {
  padding: 0 3px 1px;
  font-size: 10px;
  line-height: 1.4;
  border-radius: 2px;
}

.btn .fa-sort-down,.btn .fa-sort-up{position: relative;top:-2px;padding-left: 3px;}
.btn .fa-sort-up {top:3px;}
.btn-success .fa-comment{color:#fff;}

