body,html{width:100%; height:100%;background:#3a3a3a;}
#hmw_wrap{
	overflow:hidden;
	width:100%;
	height:100%;
}
/* 화상채팅방 왼쪽 아이콘메뉴-------------------------------------------*/
#hmw_icon_nav{ 
	z-index:999999;
	background:#2BC1A4 url(/room/img/room_nav_bg.jpg)left top no-repeat;
	width:70px; height:100%; 
	position:absolute; left:0; top:0;
	box-sizing:border-box;
}
#hmw_icon_nav ul{overflow:hidden;}
#hmw_icon_nav ul li{}
/* #hmw_icon_nav ul li:nth-of-type(1){background:url(/room/img/hmw_nav_sound.png) 20px 15px no-repeat;}
#hmw_icon_nav ul li:nth-of-type(2){background:url(/room/img/hmw_nav_mic.png) 20px 15px no-repeat;}
#hmw_icon_nav ul li:nth-of-type(3){background:url(/room/img/hmw_nav_invite.png) 20px 15px no-repeat;}
#hmw_icon_nav ul li:nth-of-type(4){background:url(/room/img/hmw_nav_set.png) 20px 15px no-repeat; } */
#hmw_icon_nav ul li:nth-of-type(1){background:url(/room/img/end_w.png) 20px 15px no-repeat;}
#hmw_icon_nav ul li:nth-of-type(2){background:url(/room/img/file_w.png) 20px 15px no-repeat;}
#hmw_icon_nav ul li:nth-of-type(3){background:url(/room/img/hmw_nav_invite.png) 20px 15px no-repeat;}

#hmw_icon_nav ul li a{
	color:#fff;
	font-size:0.81em;
	display:inline-block;
	line-height:60px;
	height:60px;
	width:100%;
	text-indent:-500px;
}
#hmw_icon_nav p{
	position:absolute; bottom:0;
	width:100%;overflow:hidden;
	background:#3a3a3a;
}
#hmw_icon_nav p a{
	background:url(/room/img/hmw_nav_End.png) 20px 18px no-repeat;
	width:100%; height:70px;
	line-height:70px; color:#fff; 
	font-size:0.81em; text-indent:-500px;
	display:inline-block;	
}
/* 화상채팅방 컨텐츠-------------------------------------------*/
#hmn_content{
	height:100%; 
	margin-left:70px; padding:30px; 
	box-sizing:border-box;
}
#hmn_content #room_title{
	margin-bottom:30px;
	color:#fff; font-weight:bold; font-size:1.1em;
}
#hmn_content #room_title span{
	background:#AF87E8 url(/room/img/hmw_icon_num.png) 10px 5px no-repeat; 
	margin-left:15px;padding:3px 10px 3px 35px;
	font-size:0.81em;
	border-radius:15px;
}
#hmn_content #bigScreen{
	width:100%; height:65%; overflow: hidden;
	background:url(/room/img/screen_man.jpg) center center no-repeat;
	background-size:cover;
	border-radius:10px 10px 0 0;
	position:relative;
 }
#hmn_content #bigScreen p{
	width:100%;
	background:rgba(58,58,58,0.8); 
	padding:8px; color:#fff; 
	position:absolute; bottom:0;
}
#hmn_content #smallScreen {
	width:100%; height:25%;
	overflow:hidden; margin-top:10px;
}

.smallVideo{
	width:100%; height:25%;
	overflow:hidden; margin-top:10px;
}

#hmn_content #smallScreen li{
	width:25%; height:100%; 
	float:left; border-right:5px solid #3a3a3a; 
	box-sizing:border-box; 
	position:relative;
}
#hmn_content #smallScreen li:nth-of-type(1){background:url(/room/img/screen_mini1.jpg) center center no-repeat; background-size:cover;}
#hmn_content #smallScreen li:nth-of-type(2){background:url(/room/img/screen_mini2.jpg) center center no-repeat;background-size:cover;}
#hmn_content #smallScreen li:nth-of-type(3){background:url(/room/img/screen_mini3.jpg) center center no-repeat;background-size:cover;}
#hmn_content #smallScreen li:nth-of-type(4){background:url(/room/img/screen_mini4.jpg) center center no-repeat;background-size:cover; border:0;}
#hmn_content #smallScreen li p{
	width:100%;
	background:rgba(58,58,58,0.8); padding:8px; 
	color:#fff;
	position:absolute; bottom:0;
}