@CHARSET "UTF-8";

.body {
    border-left: 1px solid #ccc;
	display: inline-block;
    margin-left: -7px;
	min-height: 100%;
    padding-left: 25px;
    vertical-align: top;
    width: calc(100% - 350px);
}
section.body article { width: 100%; }
.search-container { display: none }
.code-html.contents { width: 100%; }
/* .groupLabel { padding: 0 } */

.footer { padding-left: 250px; }
