@CHARSET "UTF-8";

#groupForm {
	padding-left: 30px;
	position: relative;
	width: 50%;
	min-width: 500px;
}
.iptDiv { 
	display: inline-block;
	margin-right: 4px;  
}

#addGroup:hover { background-color: #0080bd; }
#addGroup { 
	background-color: #00a9ff;
	margin-bottom: 10px; 
}

.addForm { margin-bottom: 10px; }
.addForm .btn { margin-right: 2px; }
