@charset "UTF-8";

.btn { font-weight: bold; }

.lnb .search-container { display: block }

#formDiv { 
	border: 4px solid #bbb;
	margin: auto;
	margin-top: 60px; 
	padding: 20px;
	width: 480px;
	position: relative;
}
#formDiv > div {
	display: inline-block;
	min-width: 250px;
	width: 100%;
}

#formDiv > .formDivTxt {
	margin-bottom: 40px; 
	width: 100%;
}

.leftDiv label p { margin-bottom: 10px; }
.form-control { margin-bottom: 13px; }
.recoIpt {
	height: 15px;
	width: 15px;
}

.btnDiv {
	margin-top: 20px;
	text-align: center; 
	width: 100%;
}