<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
 
<mapper namespace="com.mapper.IActAgentFirewallMapper">
	
	<insert id="insertActAgentFirewall" parameterType="com.model.ActAgentFirewallVo">
        INSERT 
        	INTO tbl_act_firewall_log
        	(
					pc_uuid, 
					pc_hostname,
					kind,		        
					status,		        
					datetime,
					retport,
					org_seq,
					rgstr_date
        	) 
        	VALUES
					( 
					#{pc_uuid}, 
					#{pc_hostname},
					#{kind}, 
					#{status}, 
					#{datetime},
					#{retport}, 
					#{org_seq}, 
					now()
					) 

	</insert>
	

		
			
</mapper>