<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
 
<mapper namespace="com.mapper.IActAgentDeviceMapper">
	
	<insert id="insertActAgentDevice" parameterType="com.model.ActAgentDeviceVo">
        INSERT 
        	INTO tbl_act_device_log
        	(
				org_seq, 
		        uuid,
				hostname,		        
				status_yn,		        
		        product,
				vendorcode,
				productcode,
		        ins_date
        	) 
        	VALUES
			<foreach collection="list" item="item" separator=" , ">
			( 
        		#{item.org_seq}, 
				#{item.uuid},
				#{item.hostname}, 
				#{item.status_yn}, 
				#{item.product},
				#{item.vendorCode}, 
				#{item.productCode}, 
				now()
			) 
			</foreach>
	</insert>
	

			
</mapper>