<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mapper.IAdminMapper">
	<!-- 센터 관리자  -->
	<select id="adminList" resultType="com.model.AdminVo">
		SELECT
		USER_ID,
		USER_NAME,
		PASS_WD,
		DEPT_NAME,
		GUBUN,
		ins_date
		FROM TBL_ADMIN_USER
		<where>
			<if test="keyWord != null and keyWord != ''">
				<if test="keyWord == 1">
			USER_ID LIKE '%' || #{txtSearch} || '%'
			</if>
				<if test="keyWord == 2">
			USER_NAME LIKE '%' || #{txtSearch} || '%'
			</if>
				<if test="keyWord == 3">
			DEPT_NAME LIKE '%' || #{txtSearch} || '%'
			</if>
				<if test="keyWord == 0">
			(USER_ID LIKE '%' || #{txtSearch} || '%'
			OR USER_NAME LIKE '%' || #{txtSearch} || '%'
			OR DEPT_NAME LIKE '%' || #{txtSearch} || '%'
			)
			</if>
			</if>
		</where>
		ORDER BY ins_date DESC
		OFFSET #{limitStart} LIMIT #{recordSize}
	</select>

	<select id="countListInfo" parameterType="com.model.AdminVo" resultType="Integer">
		SELECT
		count(*) as tbl_cnt
		FROM TBL_ADMIN_USER
		<where>
			<if test="keyWord != null and keyWord != ''">
				<if test="keyWord == 1">
			USER_ID LIKE '%' || #{txtSearch} || '%'
			</if>
				<if test="keyWord == 2">
			USER_NAME LIKE '%' || #{txtSearch} || '%'
			</if>
				<if test="keyWord == 3">
			DEPT_NAME LIKE '%' || #{txtSearch} || '%'
			</if>
				<if test="keyWord == 0">
			(USER_ID LIKE '%' || #{txtSearch} || '%'
			OR USER_NAME LIKE '%' || #{txtSearch} || '%'
			OR DEPT_NAME LIKE '%' || #{txtSearch} || '%'
			)
			</if>
			</if>
		</where>
	</select>

	<select id="adminView" parameterType="com.model.AdminVo" resultType="com.model.AdminVo">
		SELECT
		USER_ID,
		USER_NAME,
		PASS_WD,
		DEPT_NAME,
		GUBUN,
		ins_date
		FROM TBL_ADMIN_USER
		WHERE USER_ID = #{user_id}
	</select>

	<insert id="adminSave" parameterType="com.model.AdminVo">
		INSERT
		INTO TBL_ADMIN_USER
		(USER_ID , USER_NAME , PASS_WD , DEPT_NAME , GUBUN ,salt , ins_date)
		VALUES(#{user_id} , #{user_name} , #{pass_wd} ,
		#{dept_name} , #{gubun} , #{salt}, now())

	</insert>

	<update id="adminModify" parameterType="com.model.AdminVo">
		UPDATE TBL_ADMIN_USER
		SET USER_ID = #{user_id},
		USER_NAME = #{user_name},
		<if test="pass_wd != null">
			PASS_WD = #{pass_wd},
		</if>
		<if test="salt != null">
			salt = #{salt},
		</if>
		DEPT_NAME = #{dept_name},
		GUBUN = #{gubun},
		LOGIN_CHECK = 0,
		UPD_DATE = now()
		WHERE USER_ID = #{user_id}
	</update>

	<delete id="adminDelete" parameterType="com.model.AdminVo">
		DELETE FROM TBL_ADMIN_USER
		WHERE USER_ID = #{user_id}
	</delete>

	<select id="adminIdCheck" parameterType="com.model.AdminVo" resultType="Integer">
		SELECT
		COUNT(USER_ID)
		FROM TBL_ADMIN_USER
		WHERE USER_ID = #{user_id}
	</select>

	<select id="adminPasswordCheck" parameterType="com.model.AdminVo" resultType="Integer">
		SELECT
		COUNT(USER_ID) as cnt
		FROM TBL_ADMIN_USER
		WHERE USER_ID = #{user_id}
		AND PASS_WD = #{current_pass_wd}
	</select>


	<!-- 부서 관리자 -->
	<select id="sgbManagerList" resultType="com.model.AdminVo">
		SELECT
		USER_ID,
		USER_NAME,
		PASS_WD,
		insert_dt,
		RANK,
		GENERAL_YN
		FROM TBL_MANAGER
		<where>
			<if test="keyWord != null and keyWord != ''">
				<if test="keyWord == 1">
			USER_ID LIKE '%' || #{txtSearch} || '%'
			</if>
				<if test="keyWord == 2">
			USER_NAME LIKE '%' || #{txtSearch} || '%'
			</if>
				<if test="keyWord == 3">
			(SELECT ORG_NM FROM TBL_ORG WHERE SEQ = ARR_ORG_SEQ::int) = #{txtSearch}
			</if>
				<if test="keyWord == 0">
			(USER_ID LIKE '%' || #{txtSearch} || '%'
			OR USER_NAME LIKE '%' || #{txtSearch} || '%'
			)
			</if>
			</if>
		</where>
		ORDER BY insert_dt DESC
		OFFSET #{limitStart} LIMIT #{recordSize}
	</select>

	<select id="sgbManagercountListInfo" parameterType="com.model.AdminVo" resultType="Integer">
		SELECT
		count(*) as tbl_cnt
		FROM TBL_MANAGER
		<where>
			<if test="keyWord != null and keyWord != ''">
				<if test="keyWord == 1">
			USER_ID LIKE '%' || #{txtSearch} || '%'
			</if>
				<if test="keyWord == 2">
			USER_NAME LIKE '%' || #{txtSearch} || '%'
			</if>
				<if test="keyWord == 3">
			 (SELECT ORG_NM FROM TBL_ORG WHERE SEQ = ARR_ORG_SEQ::int) = #{txtSearch}
			</if>
				<if test="keyWord == 0">
					(USER_ID LIKE '%' || #{txtSearch} || '%'
			OR USER_NAME LIKE '%' || #{txtSearch} || '%'
					<!-- OR (SELECT ORG_NM FROM TBL_ORG WHERE SEQ = ARR_ORG_SEQ::int) = #{txtSearch} -->
					)
				</if>
			</if>
		</where>
	</select>

	<select id="sgbManagerView" parameterType="com.model.AdminVo" resultType="com.model.AdminVo">
		SELECT
		USER_ID,
		USER_NAME,
		PASS_WD,
		RANK,
		insert_dt,
		TEL_NUM,
		PHONE_NUM,
		ARR_ORG_SEQ
		FROM TBL_MANAGER
		WHERE USER_ID = #{user_id}
	</select>
	<insert id="sgbManagerSave" parameterType="com.model.AdminVo">
		INSERT
		INTO TBL_MANAGER
		(seq , USER_ID , USER_NAME , PASS_WD , ARR_ORG_SEQ  , RANK  , TEL_NUM , PHONE_NUM , insert_dt , MANAGER_YN , GENERAL_YN)
		VALUES((SELECT COALESCE(max(seq),0)+1 AS seq FROM TBL_MANAGER) , #{user_id} , #{user_name} , #{pass_wd} ,#{arr_org_seq}  ,#{rank} , #{tel_num} , #{phone_num} , now() , 'Y' , 'Y')

	</insert>
	<insert id="sgbManagerOrgSeq" parameterType="com.model.AdminVo">
		INSERT
		INTO TBL_MANAGER_ORGSEQ
		(IDX , USER_ID , ORG_SEQ )
		VALUES
		<foreach collection="org_seq" item="item" separator=",">
	           ((SELECT COALESCE(max(seq),0) AS seq FROM TBL_MANAGER) , #{user_id} ,#{item})
	    </foreach>


	</insert>

	<update id="sgbManagerModify" parameterType="com.model.AdminVo">
		UPDATE TBL_MANAGER
		SET USER_ID = #{user_id},
		USER_NAME = #{user_name},
		<if test="pass_wd != null">
			PASS_WD = #{pass_wd},
		</if>
		RANK = #{rank},
		ARR_ORG_SEQ = #{arr_org_seq},
		TEL_NUM = #{tel_num},
		PHONE_NUM = #{phone_num},
		UPDATE_DT = now()
		WHERE USER_ID
		= #{user_id}
	</update>

	<delete id="sgbManagerDelete" parameterType="com.model.AdminVo">
		DELETE FROM TBL_MANAGER
		WHERE USER_ID = #{user_id}
	</delete>

	<select id="sgbManagerIdCheck" parameterType="com.model.AdminVo" resultType="Integer">
		SELECT
		COUNT(USER_ID)
		FROM TBL_MANAGER
		WHERE USER_ID = #{user_id}
	</select>

</mapper>