<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
 
<mapper namespace="com.mapper.IAgentAptListMapper">

<select id="adminList" resultType="com.model.AdminVo">
		SELECT 
			USER_ID,
			USER_NAME,
			PASS_WD,
			DEPT_NAME,
			GUBUN,
			INSERT_DT
		FROM TBL_ADMIN_USER	
		ORDER BY INSERT_DT DESC
		OFFSET #{limitStart} LIMIT #{recordSize}
</select>

<select id="countListInfo" parameterType="com.model.AdminVo" resultType="Integer">
		SELECT 
			count(*)  as tbl_cnt
		FROM TBL_ADMIN_USER
	</select>

<select id="adminView" parameterType="com.model.AdminVo" resultType="com.model.AdminVo">
	    SELECT 
			USER_ID,
			USER_NAME,
			PASS_WD,
			DEPT_NAME,
			STATUS,
			RGSTR_DATE
		FROM TBL_ADMIN_USER
	    WHERE USER_ID = #{user_id}
    </select>
<insert id="saveApt" parameterType="List" >
		INSERT INTO TBL_APT_LIST
		(USER_ID , USER_NAME , PASS_WD , DEPT_NAME , GUBUN , INSERT_DT)
		VALUES(#{user_id} , #{user_name} , #{pass_wd} , #{dept_name} , #{gubun} , now())

</insert>

<update id="adminModify" parameterType="com.model.AdminVo">
UPDATE TBL_ADMIN_USER 
	SET USER_ID = #{user_id},
	USER_NAME = #{user_name},
	<if test="pass_wd != null">
	PASS_WD = #{pass_wd},
	</if>
	DEPT_NAME = #{dept_name},
	GUBUN = #{gubun},
	UPDT_DT = now()
	WHERE USER_ID = #{user_id}

</update>

<delete id="adminDelete" parameterType="com.model.AdminVo">
DELETE FROM TBL_ADMIN_USER
WHERE USER_ID = #{user_id}
</delete>

<select id="adminIdCheck" parameterType="com.model.AdminVo" resultType="Integer">
	    SELECT 
			COUNT(USER_ID)
		FROM TBL_ADMIN_USER
	    WHERE USER_ID = #{user_id}
    </select>

</mapper>