<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
 
<mapper namespace="com.mapper.IIpManagementMapper">
	
	<select id="ipCheck" resultType="Integer" parameterType="hashmap">
		SELECT 
			COUNT(SEQ) AS CNT 
		FROM 
			TBL_IP
			WHERE IPADDRESS IN (#{usr_ip0},#{usr_ip1},#{usr_ip2},#{usr_ip3},#{usr_ip4},#{usr_ip5},
			#{usr_ip6},#{usr_ip7},#{usr_ip8},#{usr_ip9},#{usr_ip10},#{usr_ip11},#{usr_ip12},#{usr_ip13},#{usr_ip14})
	
	</select>
	<!-- MngrController.mngrListInfo -->
	<select id="mngrListInfo" resultType="com.model.AllowIpInfoVo" parameterType="hashmap">
		SELECT 
			 sma_seq, 
			 sma_ipaddress,
			 sma_macaddress,
			 sma_info
		FROM 
			tbl_ip
		<where>
		1=1
		 <if test="mngeVo.txtSearch != null and mngeVo.txtSearch != '' ">
			<if test="mngeVo.keyWord eq 1 " >
			and	sma_ipaddress like CONCAT('%', #{mngeVo.txtSearch}, '%')
			</if>
			<if test="mngeVo.keyWord eq 2 " >
			and	sma_info like CONCAT('%', #{mngeVo.txtSearch}, '%')
			</if>
			<if test="mngeVo.keyWord eq 0 " >
			and	(sma_ipaddress like CONCAT('%', #{mngeVo.txtSearch}, '%')
			or sma_info like CONCAT('%', #{mngeVo.txtSearch}, '%')
			)
			</if>
		</if> 
		
			and sma_gubun='Y'
		</where> 
		ORDER BY sma_seq DESC
		OFFSET #{pagingVo.limitStart} LIMIT #{pagingVo.recordSize}
		
	</select>
	
	
	<select id="countMngrListInfo" parameterType="com.model.AllowIpInfoVo" resultType="Integer">
		SELECT 
			count(*)  as tbl_cnt
		FROM tbl_ip
		<where>
		 1=1
		 <if test="txtSearch != null and txtSearch != '' ">
			<if test="keyWord eq 1 " >
			and	sma_ipaddress like CONCAT('%', #{txtSearch}, '%')
			</if>
			<if test="keyWord eq 2 " >
			and	sma_info like CONCAT('%', #{txtSearch}, '%')
			</if>
			<if test="keyWord eq 0 " >
			and	(sma_ipaddress like CONCAT('%', #{txtSearch}, '%')
			or sma_info like CONCAT('%', #{txtSearch}, '%')
			)
			</if>
		</if> 
		and sma_gubun='Y'
		</where>
	</select>
	
	
	
	<insert id="insertIpInfo" parameterType="com.model.AllowIpInfoVo">
        INSERT
        	INTO TBL_IP (
        	    sma_seq,
        		sma_ipaddress, 
        		sma_macaddress,
        		sma_info,
        		sma_insert_dt,
        		sma_gubun ) 
       		VALUES (
       		(SELECT COALESCE(max(sma_seq),0)+1 AS sma_seq FROM TBL_IP),
       			#{ipaddress},
       			#{macaddress},
        		#{infomation},
        		now(),
        		#{sma_gubun}
       		)
	</insert>
	

	<delete id="deleteIpInfo" parameterType="com.model.AllowIpInfoVo">
		DELETE 
			FROM tbl_ip
		WHERE 
			sma_seq 
		IN 
			<foreach collection="deleteAdressList" item="item" separator="," index="index" open="(" close=")">
				'${deleteAdressList[index]}'::bigint
			</foreach>
			and sma_gubun='Y'
	</delete>
	
</mapper>
