<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
 
<mapper namespace="com.mapper.IEqualsHwMapper">



 <insert id="pcHWInfoInsert" parameterType="com.model.EqualsHwVo">   
		INSERT INTO 
			tbl_pc_hardware_change_log (
			    pc_cpu, 
			    pc_memory, 
			    pc_macaddress, 
			    pc_ip, 
			    pc_hostname, 
			    pc_cpu_id, 
			    pc_uuid, 
			    org_seq, 
			    pc_disk,
			    pc_disk_id,
			    pc_user,
			    rgstr_date
			)
			VALUES
			(
			    #{pc_cpu},
			    #{pc_memory}, 
			    #{pc_macaddress}, 
			    #{pc_ip},
			    #{pc_hostname}, 
			    #{pc_cpu_id}, 
			    #{pc_uuid},
			    #{org_seq},
			    #{pc_disk},
			    #{pc_disk_id},
			    #{pc_user},
			    NOW()
			)
	</insert>
	
	
	<update id="pcMngrModify" parameterType="com.model.EqualsHwVo">
		update tbl_pc_mangr
			set 
				pc_status = 'N'
				<if test="pc_hostname != null">
					,pc_hostname = #{pc_hostname}
				</if>
				<if test="pc_ip != null">
					,pc_ip = #{pc_ip}
				</if>
				<if test="pc_cpu != null">
					,pc_cpu = #{pc_cpu}
				</if>
				<if test="pc_cpu_id != null">
					,pc_cpu_id = #{pc_cpu_id}
				</if>
				<if test="pc_macaddress != null">
					,pc_macaddress = #{pc_macaddress}
				</if>
				<if test="pc_memory != null">
					,pc_memory = #{pc_memory}
				</if>
				<if test="pc_disk != null">
					,pc_disk = #{pc_disk}
				</if>
				<if test="pc_disk_id != null">
					,pc_disk_id = #{pc_disk_id}
				</if>
				
		where pc_uuid = #{pc_uuid}

	</update>

	<select id="getPCinfo" parameterType="com.model.EqualsHwVo" resultType="com.model.PcMangrVo" >
		select * 
		from tbl_pc_mangr
		where pc_uuid = #{pc_uuid} 
	</select>
	

</mapper>