<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
 
<mapper namespace="com.mapper.IFileMapper">

    <insert id="saveFile" parameterType="com.model.FileVo">   
		INSERT INTO 
			tbl_files (
								domain,
                filename,
                filerealname,
                filepath,
                filesize,
                kind,
								p_seq,
                rgstr_date
			)
			VALUES
			(
				#{domain},
			    #{filename},
			    #{filerealname}, 
			    #{filepath}, 
			    #{filesize},
                #{kind},
								#{p_seq},
			    now()
			)
	</insert>

	<select id="getFile" parameterType="String" resultType="com.model.FileVo" >
		SELECT * 
		FROM tbl_files
		WHERE kind = #{type}
	</select>

	<select id="getFilePublic" resultType="com.model.FileVo" >
		SELECT * 
		FROM tbl_files
		WHERE kind = 'public'
	</select>

	<select id="getFilePrivate" resultType="com.model.FileVo" >
		SELECT * 
		FROM tbl_files
		WHERE kind = 'private'
	</select>

	<select id="getFileConfig" resultType="com.model.FileVo" >
		SELECT * 
		FROM tbl_files
		WHERE kind = 'adminconfig'
	</select>
	
	<select id="getFiles" resultType="com.model.FileVo" >
		SELECT * 
		FROM tbl_files
	</select>

    <delete id="deleteFile" parameterType="com.model.FileVo">
        DELETE FROM tbl_files
        WHERE seq = #{seq}
    </delete>

	<select id="getFileSeq" parameterType="Integer" resultType="com.model.FileVo" >
		SELECT * 
		FROM tbl_files
		WHERE seq = #{seq}
	</select>
	

</mapper>