<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mapper.IGetAgentProgrmMapper">


	<select id="getAgentWorkData" parameterType="com.model.GetAgentProgrmVo" resultType="com.model.GetAgentProgrmVo">
		
		SELECT 
		    CASE 
		        WHEN TB.pcm_uuid is null  THEN 'INS'
		        ELSE 'NOINS'  
		    END AS gubun,
		    TA.pcm_seq,
		    TA.org_seq,
		    TA.pa_seq,
		    TA.pcm_uuid,
		    TA.pcm_name,
		    TA.insert_dt,
		    TB.pa_seq as old_pa_seq,
		    TB.pcm_uuid as old_pcm_uuid   
		FROM tbl_progrm_agent_job TA LEFT OUTER JOIN 
		(
		    SELECT * 
		    FROM tbl_progrm_agent_job 
		    WHERE pa_seq = #{old_pa_seq}::int
		    and pcm_uuid = #{pcm_uuid}
		) TB on TA.pcm_seq = TB.pcm_seq
		WHERE 
		    TA.org_seq = #{org_seq}
		    and TA.pa_seq in ( #{new_pa_seq}, #{old_pa_seq} )
		    and TA.pcm_seq  in ( ${ppm_seq} )
		    and TA.pcm_uuid = #{pcm_uuid}
    		and TB.pcm_uuid is null
			and TA.pcm_name is not null
		
		UNION ALL 
		
		select 
		    'DEL' as gubun,
		    TA.pcm_seq,
		    TA.org_seq,
		    TA.pa_seq,
		    TA.pcm_uuid,
		    TA.pcm_name,
		    TA.insert_dt,
		    TB.pa_seq as old_pa_seq,
		    TB.pcm_uuid as old_pcm_uuid
		from tbl_progrm_agent_job TA left outer join 
		(
		    select * 
		    from tbl_progrm_agent_job 
		    where pa_seq = #{old_pa_seq}::int
		    and pcm_uuid = #{pcm_uuid}
		) TB on TA.pcm_seq = TB.pcm_seq
		where 
		    TA.org_seq = #{org_seq}
		    and TA.pa_seq in ( #{new_pa_seq} , #{old_pa_seq} )
		    and TA.pcm_seq  not in ( ${ppm_seq} )
		    and TA.pcm_uuid = #{pcm_uuid}
			and TA.pcm_name is not null
		    
		    
	</select>
	

	<select id="getAgentWorkYnList" parameterType="com.model.GetAgentProgrmVo" resultType="com.model.GetAgentProgrmVo">
		SELECT 
		   *
		FROM tbl_progrm_agent_job TA JOIN tbl_progrm_applc TB ON TA.pa_seq = TB.seq
		WHERE TA.org_seq = #{org_seq}
			AND pcm_uuid = #{pcm_uuid} 
	</select>
	
	<select id="getAgentWorkYn" parameterType="com.model.GetAgentProgrmVo" resultType="Integer">
		SELECT 
		   count(*) AS cnt
		FROM tbl_progrm_agent_job TA JOIN tbl_progrm_applc TB ON TA.pa_seq = TB.seq
		WHERE TA.org_seq = #{org_seq}
			AND pcm_uuid = #{pcm_uuid} 
	</select>
	
	<select id="getAgentOldSeq" parameterType="com.model.GetAgentProgrmVo" resultType="com.model.GetAgentProgrmVo">
		select * 
		from tbl_progrm_agent_job
		where org_seq = #{org_seq} 
		and pcm_uuid = #{pcm_uuid} 
		order by insert_dt desc limit 1
	</select>
	
	
	<insert id="setInsertSelect" parameterType="com.model.GetAgentProgrmVo" >
		INSERT INTO
			tbl_progrm_agent_job (pcm_seq, pa_seq, org_seq,  pcm_uuid, pcm_name, insert_dt)  
		
		SELECT arr[i]::int,
		    pa_seq, 
		    #{org_seq} as org_seq,
		   #{pcm_uuid}  as pcm_uuid,
		    (select pcm_name from tbl_program_mngr where pcm_seq = arr[i]::int),
		    now()
		    
		FROM (
		  SELECT generate_series(1, array_upper(arr, 1)) AS i, arr, pa_seq
		  FROM (
		    select 
		        regexp_split_to_array(CASE WHEN ppm_seq = ''  THEN '0' ELSE ppm_seq END, ',') arr,
		        seq as pa_seq
		    from tbl_progrm_applc
		    where org_seq =#{org_seq} 
		    OFFSET 0 limit 1
		    ) t
		) t
		

	    
	</insert>
	
	
	<select id="getListProgrm" parameterType="com.model.GetAgentProgrmVo" resultType="com.model.GetAgentProgrmVo">
		SELECT 
	        (select pcm_name from tbl_program_mngr where pcm_seq::char = arr[i]) as progrm_nm
	    FROM (
	      SELECT generate_series(1, array_upper(arr, 1)) AS i, arr
	      FROM (
	      	SELECT
	      		regexp_split_to_array(#{arrPpmSeq}, ',') arr 
	        ) t
	    ) t
			
	
	</select>
	
        
	<select id="getListProgrmPolicy" parameterType="com.model.GetAgentProgrmVo" resultType="com.model.GetAgentProgrmVo">
					    
		(SELECT  
			seq, 
			pa_seq, 
			org_seq, 
			(CASE WHEN ppm_seq = ''  THEN '0' ELSE ppm_seq END ) as ppm_seq , 
			insert_dt
		from tbl_progrm_applc_history
		where
			org_seq = #{org_seq}
		    and insert_dt  &lt;  now()
		order by insert_dt desc
		OFFSET 0 limit 1
		)
		
		union all 
		
		SELECT  
			seq, 
			pa_seq, 
			org_seq, 
			(CASE WHEN ppm_seq = ''  THEN '0' ELSE ppm_seq END ) as ppm_seq , 
			insert_dt
		from tbl_progrm_applc_history
		where
			org_seq = #{org_seq}
		    and pa_seq = #{pa_seq}::int
	</select>	
	
	
	
</mapper>