<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mapper.IGetAgentUpdtMapper">
	
	
	<select id="getAgentProgramChk" parameterType="com.model.GetAgentUpdtVo" resultType="Integer">
		SELECT 
		   count(*) AS cnt
		FROM tbl_policy_progrm_block_list   
		where pcm_name in ('google-chrome-stable')
	</select>
		
	<insert id="setProgrmListFromUpdtDelete" parameterType="com.model.GetAgentUpdtVo" >
		delete from tbl_policy_progrm_block_list
		where pcm_name in ( select pu_name from tbl_policy_package_list where status = 'D' )
	</insert>
	<update id="updtStatusDelete" parameterType="com.model.GetAgentUpdtVo">
		update tbl_policy_package_list
			set status = 'D'
		where 
			pu_seq in ( 
		        ${arrStatus}
            )    
	</update>
	
	
	<insert id="setProgrmListFromUpdt" parameterType="com.model.GetAgentUpdtVo" >
		insert into
	    	tbl_policy_progrm_block_list( pcm_name, pcm_dc)
		select pu_name, pu_dc from tbl_policy_package_list where status = 'P'
	</insert>
	
	<update id="updtStatus" parameterType="com.model.GetAgentUpdtVo">
		update tbl_policy_package_list
			set status = 'P'
		where 
			pu_status = 'I'
			and pu_seq in ( 
		        ${arrStatus}
            )    
	</update>
	<select id="getAgentWorkYn" parameterType="com.model.GetAgentUpdtVo" resultType="Integer">
		SELECT 
		   count(*) AS cnt
		FROM tbl_updt_agent_job TA JOIN tbl_updt_applc TB ON TA.updt_ap_seq = TB.seq  
		WHERE TA.org_seq = #{org_seq}
		AND pcm_uuid = #{pcm_uuid} 
	</select>
	
	<select id="getAgentOldSeq" parameterType="com.model.GetAgentUpdtVo" resultType="com.model.GetAgentUpdtVo">
		select * 
		from tbl_updt_agent_job
		where org_seq = #{org_seq} 
		and pcm_uuid = #{pcm_uuid} 
		order by RGSTR_DATE desc limit 1
	</select>
	
	<insert id="setInsertSelect" parameterType="com.model.GetAgentUpdtVo" >
		INSERT INTO 
    		tbl_updt_agent_job (pu_seq, updt_ap_seq,  org_seq,  pcm_uuid, pcm_name, RGSTR_DATE)
		
		SELECT arr[i]::int,
		    pa_seq, 
		    #{org_seq} as org_seq,
		    #{pcm_uuid}  as pcm_uuid,
		    (select pu_name from tbl_policy_package_list where pu_seq = arr[i]::int),
		    now()
		    
		FROM (
		  SELECT generate_series(1, array_upper(arr, 1)) AS i, arr, pa_seq
		  FROM (
		    select 
		        regexp_split_to_array(CASE WHEN ppm_seq = ''  THEN '0' ELSE ppm_seq END, ',') arr,
		        seq as pa_seq
		    from tbl_updt_applc
		    where org_seq = #{org_seq} 
		    OFFSET 0 limit 1
		    ) t
		) t

	</insert>

	
	<select id="getListUpdtsPolicy" parameterType="com.model.GetAgentUpdtVo" resultType="com.model.GetAgentUpdtVo">
		 SELECT 
				seq, 
				org_seq, 
				RGSTR_DATE, 
				updt_seq as pa_seq, 
				(CASE WHEN ppm_seq = ''  THEN '0' ELSE ppm_seq END ) as ppm_seq 
			FROM tbl_updt_applc_history
			where
				org_seq = #{org_seq}
			    and updt_seq = #{updt_ap_seq}::int
			
			
			UNION all 
			
			(SELECT 
				seq, 
				org_seq, 
				RGSTR_DATE, 
				updt_seq as pa_seq, 
				(CASE WHEN ppm_seq = ''  THEN '0' ELSE ppm_seq END ) as ppm_seq 
			FROM tbl_updt_applc_history
			where
				org_seq = #{org_seq}
			    and RGSTR_DATE  &lt;  now()
			order by RGSTR_DATE desc
			OFFSET 0 limit 1
			)
	</select>
	
	<select id="getAgentInitWorkData" parameterType="com.model.GetAgentUpdtVo" resultType="com.model.GetAgentUpdtVo">
		
		SELECT 
		    CASE 
		        WHEN TB.pcm_uuid is null  THEN 'INSERT'
		        ELSE 'NOINS'  
		    END AS gubun,
		    TA.pu_seq as pcm_seq,
		    TA.org_seq,
		    TA.updt_ap_seq as pa_seq,
		    TA.pcm_uuid,
		    TA.pcm_name,
		    (select deb_apply_name from tbl_policy_package_list  where pu_seq = TA.pu_seq)as deb_apply_name,
		    (select deb_new_version from tbl_policy_package_list  where pu_seq = TA.pu_seq)as deb_new_version,
		    TA.RGSTR_DATE,
		    TB.updt_ap_seq as old_pa_seq,
		    TB.pcm_uuid as old_pcm_uuid,
		    '' as pu_status    
		FROM tbl_updt_agent_job TA LEFT OUTER JOIN 
		(
		    SELECT * 
		    FROM tbl_updt_agent_job 
		    WHERE updt_ap_seq = #{old_pa_seq}
    		and pcm_uuid = #{pcm_uuid}
		) TB on TA.pu_seq = TB.pu_seq
		WHERE 
		    TA.org_seq = #{org_seq}
		    and TA.updt_ap_seq in ( #{new_pa_seq}, #{old_pa_seq} )
		    and TA.pu_seq  in ( ${ppm_seq} )
			and TB.pcm_uuid is null
		    and TA.pcm_uuid = #{pcm_uuid}
			and TA.pcm_name is not null
		
	</select>
	

	<select id="getAgentWorkData" parameterType="com.model.GetAgentUpdtVo" resultType="com.model.GetAgentUpdtVo">
<!-- 		
		SELECT 
		    CASE 
		        WHEN TB.pcm_uuid is null  THEN 'DEL'
		        ELSE 'NOINS'  
		    END AS gubun,
		    TA.pu_seq as pcm_seq,
		    TA.org_seq,
		    TA.updt_ap_seq as pa_seq,
		    TA.pcm_uuid,
		    TA.pcm_name,
		    (select deb_apply_name from tbl_policy_package_list  where pu_seq = TA.pu_seq)as deb_apply_name,
		    TA.insert_dt,
		    TB.updt_ap_seq as old_pa_seq,
		    TB.pcm_uuid as old_pcm_uuid,
		    '' as pu_status    
		FROM tbl_updt_agent_job TA LEFT OUTER JOIN 
		(
		    SELECT * 
		    FROM tbl_updt_agent_job 
		    WHERE updt_ap_seq = #{old_pa_seq}
    		and pcm_uuid = #{pcm_uuid}
		) TB on TA.pu_seq = TB.pu_seq
		WHERE 
		    TA.org_seq = #{org_seq}
		    and TA.updt_ap_seq in ( #{new_pa_seq}, #{old_pa_seq} )
		    and TA.pu_seq  in ( ${ppm_seq} )
			and TB.pcm_uuid is null
		    and TA.pcm_uuid = #{pcm_uuid}
			and TA.pcm_name is not null
		
		union all 
		
		SELECT 
		    CASE
	          WHEN (select pu_status from tbl_policy_package_list where pu_seq = TA.pu_seq ) ='I' THEN 'INSERT'
	          WHEN (select pu_status from tbl_policy_package_list where pu_seq = TA.pu_seq ) ='U' THEN 'UPGRADE'
	        ELSE 'INS'
	        END AS gubun,
		    TA.pu_seq as pcm_seq,
		    TA.org_seq,
		    TA.updt_ap_seq as pa_seq,
		    TA.pcm_uuid,
		    TA.pcm_name,
		    (select deb_apply_name from tbl_policy_package_list  where pu_seq = TA.pu_seq)as deb_apply_name,
		    TA.insert_dt,
		    TB.updt_ap_seq as old_pa_seq,
		    TB.pcm_uuid as old_pcm_uuid,
		    CASE
	          WHEN (select pu_status from tbl_policy_package_list where pu_seq = TA.pu_seq ) ='I' THEN 'INSERT'
	          WHEN (select pu_status from tbl_policy_package_list where pu_seq = TA.pu_seq ) ='U' THEN 'UPGRADE'
	        ELSE 'NOINS'
	        END AS pu_status    
		FROM tbl_updt_agent_job TA LEFT OUTER JOIN 
		(
		    SELECT * 
		    FROM tbl_updt_agent_job 
		    WHERE updt_ap_seq = #{old_pa_seq}
		    and pcm_uuid = #{pcm_uuid}
		) TB on TA.pu_seq = TB.pu_seq
		WHERE 
		    TA.org_seq = #{org_seq}
		    and TA.updt_ap_seq in ( #{new_pa_seq}, #{old_pa_seq} )
		    and TA.pu_seq not  in ( ${ppm_seq})
    		and TA.pcm_uuid = #{pcm_uuid}
		    and TA.pcm_name is not null
		    
 -->
		
		SELECT 
		    CASE 
		        WHEN TB.pcm_uuid is null  THEN 'DEL'
		        ELSE 'NOINS'  
		    END AS gubun,
		    TA.pu_seq as pcm_seq,
		    TA.org_seq,
		    TA.updt_ap_seq as pa_seq,
		    TA.pcm_uuid,
		    TA.pcm_name,
		    (select deb_apply_name from tbl_policy_package_list  where pu_seq = TA.pu_seq)as deb_apply_name,
	        (select deb_new_version from tbl_policy_package_list  where pu_seq = TA.pu_seq)as deb_new_version,
		    TA.RGSTR_DATE,
		    TB.updt_ap_seq as old_pa_seq,
		    TB.pcm_uuid as old_pcm_uuid,
		    '' as pu_status    
		FROM tbl_updt_agent_job TA LEFT OUTER JOIN 
		(
		    SELECT * 
		    FROM tbl_updt_agent_job 
		    WHERE updt_ap_seq = #{old_pa_seq}
    		and pcm_uuid = #{pcm_uuid}
		) TB on TA.pu_seq = TB.pu_seq
		WHERE 
		    TA.org_seq = #{org_seq}
		    and TA.updt_ap_seq in ( #{new_pa_seq}, #{old_pa_seq} )
		    and TA.pu_seq  in ( ${ppm_seq} )
			and TB.pcm_uuid is null
		    and TA.pcm_uuid = #{pcm_uuid}
			and TA.pcm_name is not null
		
		union all 
		
		SELECT 
		    CASE
	          WHEN (select pu_status from tbl_policy_package_list where pu_seq = TA.pu_seq ) ='I' THEN 'INSERT'
	          WHEN (select pu_status from tbl_policy_package_list where pu_seq = TA.pu_seq ) ='U' THEN 'UPGRADE'
	        ELSE 'INS'
	        END AS gubun,
		    TA.pu_seq as pcm_seq,
		    TA.org_seq,
		    TA.updt_ap_seq as pa_seq,
		    TA.pcm_uuid,
		    TA.pcm_name,
		    (select deb_apply_name from tbl_policy_package_list  where pu_seq = TA.pu_seq)as deb_apply_name,
		    (select deb_new_version from tbl_policy_package_list  where pu_seq = TA.pu_seq)as deb_new_version,
		    TA.RGSTR_DATE,
		    TB.updt_ap_seq as old_pa_seq,
		    TB.pcm_uuid as old_pcm_uuid,
		    CASE
	          WHEN (select pu_status from tbl_policy_package_list where pu_seq = TA.pu_seq ) ='I' THEN 'INSERT'
	          WHEN (select pu_status from tbl_policy_package_list where pu_seq = TA.pu_seq ) ='U' THEN 'UPGRADE'
	        ELSE 'NOINS'
	        END AS pu_status    
		FROM tbl_updt_agent_job TA LEFT OUTER JOIN 
		(
		    SELECT * 
		    FROM tbl_updt_agent_job 
		    WHERE updt_ap_seq = #{old_pa_seq}
		    and pcm_uuid = #{pcm_uuid}
		) TB on TA.pu_seq = TB.pu_seq
		WHERE 
		    TA.org_seq = #{org_seq}
		    and TA.updt_ap_seq in ( #{new_pa_seq}, #{old_pa_seq} )
		    and TA.pu_seq not  in ( ${ppm_seq})
    		and TA.pcm_uuid = #{pcm_uuid}
		    and TA.pcm_name is not null
		    
		    
	</select>
	

	
		
	
	<select id="getListProgrm" parameterType="com.model.GetAgentUpdtVo" resultType="com.model.GetAgentUpdtVo">
		SELECT 
	        (select pcm_name from tbl_policy_progrm_block_list where pcm_seq::char = arr[i]) as progrm_nm
	    FROM (
	      SELECT generate_series(1, array_upper(arr, 1)) AS i, arr
	      FROM (
	      	SELECT
	      		regexp_split_to_array(#{arrPpmSeq}, ',') arr 
	        ) t
	    ) t
			
	
	</select>
	
		
	
	
	
</mapper>