<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mapper.IGetAgentRecoveryMapper">
	
	<!-- 복구 시작 정보 저장 -->
	<insert id="insertActAgentBackupRecovery" parameterType="com.model.ActAgentBackupRecoveryVo">
        INSERT 
        	INTO tbl_act_backup_recovery_log
        	(
				org_seq, 
		        uuid,
				hostname,		        
				datetime,		        
		        status,
				result,
		        ins_date
        	) 
        	VALUES( 
        		#{org_seq}, 
				#{uuid},
				#{hostname}, 
				#{datetime}, 
				#{action_status},
				#{result},
				now()
			) 

	</insert>
	
	
	<!-- 북구 실행후 정책 초기화 시작을 위한 테이블 -->
	<select id="getDataActAgentBackupRecovery" parameterType="com.model.ActAgentBackupRecoveryVo" resultType="com.model.ActAgentBackupRecoveryVo">
		select * 
		from tbl_act_backup_recovery_log
		where uuid = #{uuid}
		order by ins_date desc
		limit 1	
	</select>

	<update id="updateDataActAgentBackupRecovery" parameterType="com.model.ActAgentBackupRecoveryVo">
		update tbl_act_backup_recovery_log
		set result = 'Y'
		where org_seq = #{org_seq}
			and uuid = #{uuid}
	</update>
	

	<!-- 정책 복구 진행 기존 정책작업 백업 후 삭제 -->
	<delete id="deleteActPolicy" parameterType="com.model.ActAgentBackupRecoveryVo">
		begin;
			delete from tbl_updt_agent_job where org_seq = #{org_seq} and pcm_uuid = #{uuid};
			delete from tbl_progrm_agent_job where org_seq = #{org_seq} and pcm_uuid = #{uuid};
			delete from tbl_frwl_agent_job where org_seq = #{org_seq} and pcm_uuid = #{uuid};
			delete from tbl_device_agent_job where org_seq = #{org_seq} and pcm_uuid = #{uuid};
		commit;
	</delete>	


	<!--  =====================================================  -->
	<!--  =====================================================  -->
	<!--  =====================================================  -->
	
	<select id="getAgentWorkYn" parameterType="com.model.GetAgentRecoveryVo" resultType="Integer">
		SELECT count(*) as cnt 
		FROM  tbl_recovery_agent_job TA
		JOIN 
		(
		    SELECT 
		        seq, org_seq, br_seq, status, ins_date, pc_seq 
		    FROM public.tbl_recovery_log
		    WHERE org_seq = #{org_seq}
		        AND pc_seq = ( select seq from tbl_pc_mangr where pc_uuid = #{pc_uuid} )
		    ORDER BY ins_date DESC
		    LIMIT 1
		) TB on TA.recv_applc_seq = TB.seq
	</select>
	
	
	<select id="getInitChk"  parameterType="com.model.GetAgentRecoveryVo" resultType="Integer">
	
		select 
		    count(*) as cnt 
		from tbl_recovery_applc TA left outer join tbl_recovery_applc_history TB on TA.seq = TB.recv_applc_seq
		where TA.org_seq = #{org_seq}
		    and TA.seq = ( select seq from tbl_pc_mangr where pc_uuid = #{pc_uuid} )
			
	</select>
	
	<insert id="setInsertSelect" parameterType="com.model.GetAgentRecoveryVo" >
		
		INSERT INTO
		    tbl_recovery_agent_job ( recv_applc_seq, org_seq, pc_seq, br_seq, status, insert_dt, br_backup_gubun, br_backup_path, br_backup_name, pc_uuid  )
		SELECT 
		    TA.seq, TA.org_seq, TA.pc_seq , TA.br_seq, TA.status, TA.ins_date,
		    TB.br_backup_gubun, TB.br_backup_path, TB.br_backup_name, 	#{pc_uuid} as uuid
		    
		FROM public.tbl_recovery_log TA LEFT OUTER JOIN tbl_backup_recovery_mngr TB ON TA.br_seq = TB.br_seq
		WHERE TA.org_seq = #{org_seq}
		    AND TA.pc_seq = ( select seq from tbl_pc_mangr where pc_uuid = #{pc_uuid} )
		ORDER BY TA.ins_date DESC
		LIMIT 1	
		
	</insert>


	<select id="getAgentWorkData" parameterType="com.model.GetAgentRecoveryVo" resultType="com.model.GetAgentRecoveryVo">
				
	select * from tbl_recovery_agent_job 
	where org_seq = #{org_seq}
	    and pc_uuid = #{pc_uuid} 
	order by insert_dt desc     
	limit 1
	</select>
	

	
		
	
	<select id="getListProgrm" parameterType="com.model.GetAgentRecoveryVo" resultType="com.model.GetAgentRecoveryVo">
		SELECT 
	        (select pcm_name from tbl_policy_progrm_block_list where pcm_seq::char = arr[i]) as progrm_nm
	    FROM (
	      SELECT generate_series(1, array_upper(arr, 1)) AS i, arr
	      FROM (
	      	SELECT
	      		regexp_split_to_array(#{arrPpmSeq}, ',') arr 
	        ) t
	    ) t
			
	
	</select>
	
		
	
	
	
</mapper>