<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mapper.IGetAgentPollingMapper">
	<insert id="insertPollingData" parameterType="com.model.HmProgrmUpdtVo">
		insert	into 
			tbl_polling_applc(
				pu_name,
				polling_tm,
				insert_dt
			)values(
				#{pu_name},
				#{polling_tm},
				now()
			)
	</insert>

	<select id="getPollingTime" parameterType="com.model.GetAgentPollingVo" resultType="com.model.GetAgentPollingVo">
		select * 
		from tbl_tenant_config ta
		where domain = ( select domain from tbl_pc_mangr	where pc_uuid = #{uuid} )
	</select>
	
	
</mapper>