<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
 
<mapper namespace="com.mapper.IHmprogramMapper">
	
	
	
	
	<select id="hmPcProgramListInfo" resultType="com.model.HmprogramVo" parameterType="hashmap">
		SELECT 
			 pcm_seq, 
			 pcm_name, 
			 pcm_status,
			 pcm_dc
		FROM tbl_policy_progrm_block_list
		ORDER  BY pcm_seq desc
		OFFSET #{pagingVo.limitStart} LIMIT #{pagingVo.recordSize}
		
	</select>
	
	
	<select id="countHmPcProgramListInfo" parameterType="com.model.HmprogramVo" resultType="Integer">
		SELECT 
			count(*)  as tbl_cnt
		FROM tbl_policy_progrm_block_list
	
	</select>
	
	
	<!-- 정책 적용 agent job -->
	<insert id="save"  parameterType="com.model.HmprogramVo">
		WITH rows AS (
	        INSERT 
	        	INTO tbl_progrm_policy_applc
	        	(
					ppa_org_seq,
					ppa_pcm_seq,
					ppa_gubun
	        	) 
	        	VALUES
	        	 <foreach collection="orgNmCheckedList" item="item" separator="," index="index" > 
			        ( ${orgNmCheckedList[index]} , #{ppa_pcm_seq},'P')
		        </foreach>
	        RETURNING ppa_seq
	    )    	
	    INSERT INTO tbl_agent_job (aj_table_seq, insert_dt, aj_return_val, aj_table_gubun) SELECT ppa_seq, now(), 'N', 'PROGRM' FROM rows 
         
	</insert>

	<!-- 정책 적용 agent job -->
	<delete id="deleteHmProgrm" parameterType="com.model.HmprogramVo">
		DELETE 
			FROM tbl_progrm_policy_applc
		WHERE 
			ppa_org_seq 
		IN 
			<foreach collection="orgNmCheckedList" item="item" separator="," index="index" open="(" close=")">
				'${orgNmCheckedList[index]}'
			</foreach>
			and ppa_gubun = 'P'
	</delete>

	<select id="selectHmProgrm" parameterType="com.model.HmprogramVo" resultType="com.model.HmprogramVo">
		SELECT 
			ppa_org_seq, 
			ppa_seq, 
			ppa_pcm_seq, 
			ppa_gubun 
		FROM
			tbl_progrm_policy_applc
		WHERE
			ppa_org_seq = #{selectOrgName}
			AND ppa_gubun = 'P'
	</select>
	
	
	<select id="selectHmProgrmAgentJob" parameterType="com.model.HmprogramVo" resultType="com.model.HmprogramVo">
		select STRING_AGG( pcm_name, ',' )   AS pcm_name
		from tbl_policy_progrm_block_list
		where pcm_seq in ( 
		<foreach collection="orgpcmseq" item="item" separator="," open="" close="" index="index" > 
	        ${orgpcmseq[index]}
        </foreach>
            )    
	</select>
	
	<insert id="prcssKillLog" parameterType="map">
		INSERT INTO TBL_PRCSS_BLOCK_LOG
		(HOSTNAME,PRCSSNAME,IPADDRESS,UUID,ORG_SEQ,INSERT_DT)
		VALUES(#{hostname},#{prcssname},#{vpnipaddr},#{uuid},#{org_seq},#{insert_dt}::timestamp)	
	</insert>


</mapper>
<!-- open="(" close=")" -->
<!-- <foreach collection="list" item="item" separator="," index="idx"> -->