<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mapper.ILoginMapper">

	<select id="getSalt" parameterType="java.util.HashMap" resultType="com.model.LoginVO">
		SELECT 
			salt
		FROM TBL_ADMIN_USER
		WHERE USER_ID=#{user_id}
	</select>

	<select id="getLoginInfo" parameterType="java.util.HashMap" resultType="com.model.LoginVO">
		SELECT 
			USER_ID,
			USER_NAME,
			PASS_WD,
			DEPT_NAME,
			GUBUN
		FROM TBL_ADMIN_USER
		WHERE USER_ID=#{user_id}
		  AND PASS_WD=#{pass_wd}	
	</select>

	<insert id="insertLoginInfo" parameterType="com.model.LoginVO">   
		INSERT INTO TBL_ADMIN_LOGIN_HISTORY
		(
		    SEQ
		,   USER_ID  
		,   CONN_IP
		,   LOGIN_DATE    
		)
		VALUES
		(
		    #{loginKey}
		,   #{user_id}   
		,   #{user_ip}     
		,   now()  
		)
	</insert>

	<select id="getSeqMax" resultType="int">
	   SELECT COALESCE(max(seq),0)+1 AS seq FROM TBL_ADMIN_LOGIN_HISTORY
    </select>

	<update id="updateLoginInfo" parameterType="com.model.LoginVO">
		UPDATE TBL_ADMIN_LOGIN_HISTORY
		   SET LOGOUT_DATE = now()
		      ,TIME_SPENT  = AGE(now(),LOGIN_DATE)
		 WHERE SEQ         = #{loginKey}
 	</update>

	 <select id="getLoginFailCount" resultType="int">
	   SELECT LOGIN_CHECK FROM TBL_ADMIN_USER WHERE USER_ID = #{user_id}
    </select>

	<update id="updateLoginFailCount" parameterType="java.util.HashMap">
		UPDATE TBL_ADMIN_USER
		   SET LOGIN_CHECK = LOGIN_CHECK +1
		 WHERE USER_ID         = #{user_id}
 	</update>

	 <update id="updateLoginFailCountInit" parameterType="java.util.HashMap">
		UPDATE TBL_ADMIN_USER
		   SET LOGIN_CHECK = 0
		 WHERE USER_ID         = #{user_id}
 	</update>

	<update id="updateLoginStatus" parameterType="java.util.HashMap">
		UPDATE TBL_ADMIN_USER
		SET
		GUBUN = 'D',
		UPD_DATE = now()
		WHERE USER_ID = #{user_id}
	</update>



</mapper>