<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
 
<mapper namespace="com.mapper.INotiMapper">
	
	
	
	<!-- MngrController.mngrListInfo -->
	<select id="notiListInfo" resultType="com.model.NotiVo" parameterType="hashmap">
		SELECT 
			 noti_seq, 
			 noti_title, 
			 noti_contents, 
			 noti_writer_id, 
			 case when noti_group = '002' then '상시'
			 	  when noti_group = '001' then '특별'
			 	  end as noti_group,
			 (select org_nm from tbl_org where seq = noti_orgcode) as orgname,
    		 (select p_org_nm from tbl_org where seq = noti_orgcode) as orguppername ,
			 first_date, 
			 last_date,
			 case when noti_rank = '000' then '전체'
			 when noti_rank = '001' then '이병'
			 when noti_rank = '002' then '일병'
			 when noti_rank = '003' then '상병'
			 when noti_rank = '004' then '병장'
			 end as noti_rank,
			 hit
		FROM tbl_noti
		<where>
		1=1
			<if test="mngeVo.keyWord == 1 " >
				and noti_title like '%' || #{mngeVo.txtSearch} || '%'
			</if>
			<if test="mngeVo.keyWord == 2 " >
				and noti_contents like '%' || #{mngeVo.txtSearch} || '%'
			</if>
			<if test="mngeVo.keyWord == 3 " >
				and (select org_nm from tbl_org where seq = noti_orgcode) like '%' || #{mngeVo.txtSearch} || '%'
			</if>
			<if test="mngeVo.keyWord == 0 " >
				and (noti_title like '%' || #{mngeVo.txtSearch} || '%'
				or noti_contents like '%' || #{mngeVo.txtSearch} || '%'
				or (select org_nm from tbl_org where seq = noti_orgcode) like '%' || #{mngeVo.txtSearch} || '%')
			</if>
		<!-- <if test="txtSearch != null and txtSearch != ''" >
			noti_title like '%' #{txtSearch}'%'
		</if> -->
		</where> 
		order by noti_seq desc
		OFFSET #{pagingVo.limitStart} LIMIT #{pagingVo.recordSize}
		
	</select>
	
	
	<select id="countMngrListInfo" parameterType="com.model.NotiVo" resultType="Integer">
		SELECT 
			count(*)  as tbl_cnt
		FROM tbl_noti
		<where>
		1=1
			<if test="keyWord == 1 " >
				and noti_title like '%' || #{txtSearch} || '%'
			</if>
			<if test="keyWord == 2 " >
				and noti_contents like '%' || #{txtSearch} || '%'
			</if>
			<if test="keyWord == 3 " >
				and (select org_nm from tbl_org where seq = noti_orgcode) like '%' || #{txtSearch} || '%'
			</if>
			<if test="keyWord == 0 " >
				and (noti_title like '%' || #{txtSearch} || '%'
				or noti_contents like '%' || #{txtSearch} || '%'
				or (select org_nm from tbl_org where seq = noti_orgcode) like '%' || #{txtSearch} || '%')
			</if>
		</where>
	</select>
	
	
	
	<insert id="notiInsert" parameterType="com.model.NotiVo">
        INSERT 
        	INTO tbl_noti
        	(
				noti_title, 
				noti_contents, 
				noti_writer_id, 
				noti_group,
				noti_rank, 
				noti_orgcode, 
				noti_orguppercode, 
				hit,
				first_date, 
				last_date  
        	) 
        	VALUES(
		        #{noti_title},
		        #{noti_contents},
		        #{noti_writer_id},
		        #{noti_group},
		        #{noti_rank},
		        #{noti_orgcode},
		        #{noti_orguppercode},
		        0,
		        now(),
				now() 
	        )
	</insert>
	
	<select id="notiViewInfo" resultType="com.model.NotiVo" parameterType="hashmap">
		SELECT 
			 noti_seq, 
			 noti_title, 
			 noti_contents, 
			 noti_writer_id, 
			 noti_group,
			 noti_rank,
			 noti_orgcode,
    		 noti_orguppercode,
			 (select org_nm from tbl_org where seq = noti_orgcode) as orgname,
    		 (select p_org_nm from tbl_org where seq = noti_orgcode) as orguppername ,
			 first_date, 
			 last_date  
		FROM tbl_noti
		<where>
			noti_seq = #{noti_seq}
		</where>
	</select>	


	<update id="notiUpdateProc" parameterType="com.model.NotiVo">
		UPDATE tbl_noti
			<set> 
				last_date= now()
				<if test="noti_title != null and noti_title != '' "> , noti_title = #{noti_title}</if>
				<if test="noti_contents != null and noti_contents != '' "> , noti_contents = #{noti_contents}</if>
				<if test="noti_group != null and noti_group != '' "> , noti_group = #{noti_group}</if>
				<if test="noti_rank != null and noti_rank != '' "> , noti_rank = #{noti_rank}</if>
				<if test="noti_orgcode != null and noti_orgcode != '' "> , noti_orgcode = #{noti_orgcode}</if>
				<if test="noti_orguppercode != null and noti_orguppercode != '' "> , noti_orguppercode = #{noti_orguppercode}</if>
				
			</set>
		<where>
				noti_seq= #{noti_seq}			
		</where>				 	
	</update>
	
	<update id="increaseHit" parameterType="com.model.NotiVo">
	
	UPDATE TBL_NOTI
	SET HIT = HIT +1
	WHERE NOTI_SEQ = #{noti.seq}
	
	</update>	
	
	<delete id="notiDelete" parameterType="int">
		DELETE
		FROM tbl_noti
		<where>
			noti_seq = #{noti_seq}
		</where>
	</delete>
</mapper>
