<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
 
<mapper namespace="com.mapper.IPolicyFireWallMapper">

<select id="fireWallList" resultType="com.model.PolicyFireWallVo">
		SELECT sm_seq, sm_name, sm_status, sm_dc, sm_port, sm_gubun 
		FROM tbl_security_mngr;
	</select>
	
	<insert id="fireWallSave" parameterType="java.util.HashMap">
		WITH rows AS (
			INSERT INTO TBL_FRWL_APPLC 
					( ORG_SEQ									   
					, PPM_SEQ) VALUES
					<foreach collection="data" item="item" separator=",">
	            (#{item.org_seq},#{ppm_seq})
	        		</foreach>
		RETURNING seq, org_seq, ppm_seq
		)   
		INSERT INTO tbl_frwl_applc_history (frwl_seq, org_seq, ppm_seq, insert_dt ) SELECT seq, org_seq, ppm_seq, now() FROM rows 	
		
	</insert>
	
	
	<delete id="fireWallDelete" parameterType="java.util.HashMap">
	DELETE FROM TBL_FRWL_APPLC WHERE ORG_SEQ IN (
	<foreach collection="data" item="item" separator=",">
            #{item.org_seq}
        		</foreach>
	)
	</delete>
	
	<select id="fireWallApplcView" resultType="com.model.PolicyFireWallVo" parameterType="com.model.PolicyFireWallVo" >
 			SELECT ORG_SEQ,PPM_SEQ 
 			FROM 
 			TBL_FRWL_APPLC 
 			WHERE ORG_SEQ = #{org_seq}
	</select>
	
	<select id="fManagePopList" resultType="com.model.PolicyFireWallVo" parameterType="java.util.HashMap">
		select 
    		TA.*,
    		TB.ppm_seq
		from tbl_security_mngr TA 
			left outer join 
			(
			    select
			     DISTINCT UNNEST(regexp_split_to_array(ARRAY_TO_STRING(ARRAY_AGG(ppm_seq),',') , ',')::int[]) ppm_seq
			    from tbl_frwl_applc
			) TB on TA.sm_seq = TB.ppm_seq
			where  TA.sm_gubun ='P'
			order by TA.sm_seq desc
		OFFSET #{pagingVo.limitStart} LIMIT #{pagingVo.recordSize}
		
	</select>
	
	<select id="fireWallPolicyCount" resultType="com.model.PolicyFireWallVo" parameterType="com.model.PolicyFireWallVo">
		select 
		    TA.sm_seq,
		    TB.ppm_seq
		from tbl_security_mngr TA 
			left outer join 
			(
			    select
			     DISTINCT UNNEST(regexp_split_to_array(ARRAY_TO_STRING(ARRAY_AGG(ppm_seq),',') , ',')::int[]) ppm_seq
			    from tbl_frwl_applc
			) TB on TA.sm_seq = TB.ppm_seq
			where  TA.sm_gubun ='P'
	</select>
	<insert id="fireWallPopSave" parameterType="com.model.PolicyFireWallVo">
        INSERT
        	INTO TBL_SECURITY_MNGR (
        		SM_NAME, 
        		SM_DC,
        		SM_PORT,
        		SM_GUBUN
        		 ) 
       		VALUES (
       			#{sm_name}, 
        		#{sm_dc},
        		#{sm_port},
        		'P'
       		)
	</insert>
	

	<delete id="fireWallPopDelete" parameterType="com.model.PolicyFireWallVo">
		DELETE 
			FROM tbl_security_mngr
		WHERE 
			sm_seq 
		IN 
			<foreach collection="deleteList" item="item" separator="," index="index" open="(" close=")">
				'${deleteList[index]}'::bigint
			</foreach>
			and sm_gubun='P'
	</delete>

	<select id="fireWallPopCount" parameterType="com.model.PolicyFireWallVo" resultType="Integer">
		SELECT count(*) FROM tbl_security_mngr where sm_gubun = 'P';
	</select>

</mapper>
