<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
 
<mapper namespace="com.mapper.IPolicyProgramMapper">

	<!-- <select id="programList" resultType="com.model.PolicyProgramVo">
			SELECT 
				pcm_seq, 
				pcm_name, 
				pcm_status,
				pcm_dc
			FROM tbl_program_mngr
			where org_seq = #{org_seq}
			ORDER  BY pcm_seq desc
	</select> -->

	<select id="programList" resultType="com.model.PolicyProgramVo" parameterType="com.model.PolicyProgramVo">
			select
				pu_seq as pcm_seq,
				pu_name as pcm_name
			from
				tbl_progrm_udpt
			where
				pu_seq in (
				select
					unnest(string_to_array(ppm_seq, ','))::int
				from
					tbl_updt_applc
				where
					org_seq = #{org_seq})
			ORDER  BY pcm_seq desc
	</select>
	
	 <insert id="programSave" parameterType="java.util.HashMap">
		 WITH rows AS (
				INSERT INTO TBL_PROGRM_APPLC 
					( ORG_SEQ									   
					, PPM_SEQ) VALUES
					<if test="ppm_seq != null">
					<foreach collection="data" item="item" separator=",">
	            (#{item.org_seq},#{ppm_seq})
	        		</foreach>
	        		</if>
			RETURNING seq, org_seq, ppm_seq
		)   
		INSERT INTO tbl_progrm_applc_history (pa_seq, org_seq, ppm_seq, insert_dt) SELECT seq, org_seq, ppm_seq, now() FROM rows 		        	
	</insert>
	
	<delete id="programDelete" parameterType="java.util.HashMap">
	DELETE FROM TBL_PROGRM_APPLC WHERE ORG_SEQ IN (
	<foreach collection="data" item="item" separator=",">
            #{item.org_seq}
        		</foreach>
	)
	</delete>
	
	<select id="programApplcView" resultType="com.model.PolicyProgramVo" parameterType="com.model.PolicyProgramVo" >
 			SELECT ORG_SEQ,PPM_SEQ 
 			FROM 
 			TBL_PROGRM_APPLC 
 			WHERE ORG_SEQ = #{org_seq}
	</select>
	
	<!-- <update id="programSave" parameterType="HashMap">
		WITH upsert AS (UPDATE TBL_PROGRM_APPLC SET
				ORG_SEQ			= #{org_seq}				 
				, PPM_SEQ		= #{ppm_seq}		
				
				RETURNING *)
				INSERT INTO TBL_PROGRM_APPLC (	
				SEQ							
				, ORG_SEQ									   
				, PPM_SEQ						
				)
				SELECT (SELECT COALESCE(max(seq),0)+1 AS seq FROM TBL_PROGRM_APPLC)
				,#{org_seq},#{ppm_seq} WHERE NOT EXISTS (SELECT * FROM upsert)
	</update> -->


</mapper>
