<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
 
<mapper namespace="com.mapper.IPolicyUpdtMapper">

<select id="updtList" resultType="com.model.PolicyUpdtVo">
		SELECT 
			 pu_seq, 
			 pu_name, 
			 pu_status,
			 pu_dc,
			 deb_new_version,
			 deb_now_version
		FROM tbl_policy_package_list
		WHERE
			1=1 
			-- and status = 'N' 
			-- and base_deb_yn = 'N'
		ORDER  BY pu_seq desc 
	</select>
	
	<select id="updtComapreList" resultType="java.util.HashMap">
		SELECT 
			deb_new_version,
			pu_name
		FROM tbl_policy_package_list
		--WHERE base_deb_yn = 'N'
	</select>
	
	<insert id="updtCompareSave" parameterType="java.util.HashMap">
						
			INSERT INTO tbl_policy_package_list 
				( PU_NAME									   
				, PU_STATUS
				, STATUS
				, DEB_APPLY_NAME
				, DEB_NEW_VERSION
				, BASE_DEB_YN) VALUES
					<foreach collection="data" item="item" separator=",">
	           			(#{item.package},'I','N',#{item.package},#{item.version}, 'Y')
	        		</foreach>	
	</insert>

	<!-- <insert id="updtCompareSave" parameterType="java.util.HashMap">
						
			INSERT INTO tbl_policy_package_list 
				( PU_NAME									   
				, PU_STATUS
				, STATUS
				, DEB_APPLY_NAME
				, PU_DC
				, DEB_NEW_VERSION
				, BASE_DEB_YN) VALUES
					<foreach collection="data" item="item" separator=",">
	           			(#{item.package},'I','N',#{item.package},#{item.description},#{item.version}, 'Y')
	        		</foreach>	
	</insert> -->
	
	<update id="updtCompareUpdate" parameterType="java.util.HashMap">
	UPDATE tbl_policy_package_list 
		SET 
	DEB_NOW_VERSION = (SELECT DEB_NEW_VERSION FROM tbl_policy_package_list WHERE PU_NAME = #{package})
	,DEB_NEW_VERSION = #{version}
	,PU_STATUS = 'U'
	WHERE PU_NAME = #{package}
	</update>

	<update id="updatePolicyProgrm" parameterType="java.util.HashMap">
		<foreach collection="data" item="item" separator=";">
			update 
			tbl_progrm_applc 
			set seq = (select nextval('tbl_progrm_applc_seq_seq'::regclass)) , ppm_seq = (select string_agg(A.ppm_seq,',')::text from 
				(
				select unnest(string_to_array(ppm_seq,',')) as ppm_seq from tbl_progrm_applc where org_seq=#{item.org_seq}
				intersect
				select unnest(string_to_array(ppm_seq,',')) as ppm_seq from tbl_updt_applc where org_seq=#{item.org_seq}
				) A) where org_seq = #{item.org_seq}
		</foreach>
	</update>
	
	 <insert id="updtSave" parameterType="java.util.HashMap">
			
			
		WITH rows AS (
			INSERT INTO TBL_UPDT_APPLC 
				( ORG_SEQ									   
				, PPM_SEQ) VALUES
				<if test="ppm_seq != null">
					<foreach collection="data" item="item" separator=",">
	           			(#{item.org_seq},#{ppm_seq})
	        		</foreach>
        		</if>
        RETURNING seq, org_seq, ppm_seq
		)   
		INSERT INTO tbl_updt_applc_history (updt_seq, org_seq, ppm_seq, insert_dt  ) SELECT seq, org_seq, ppm_seq, now() FROM rows 			
        		
	</insert>
	
	<delete id="updtDelete" parameterType="java.util.HashMap">
	DELETE FROM TBL_UPDT_APPLC WHERE ORG_SEQ IN (
	<foreach collection="data" item="item" separator=",">
            #{item.org_seq}
        		</foreach>
	)
	</delete>
	
	<select id="updtApplcView" resultType="com.model.PolicyUpdtVo" parameterType="com.model.PolicyUpdtVo" >
 			SELECT ORG_SEQ,PPM_SEQ 
 			FROM 
 			TBL_UPDT_APPLC 
 			WHERE ORG_SEQ = #{org_seq}
	</select>
	
	<!-- <update id="programSave" parameterType="HashMap">
		WITH upsert AS (UPDATE TBL_PROGRM_APPLC SET
				ORG_SEQ			= #{org_seq}				 
				, PPM_SEQ		= #{ppm_seq}		
				
				RETURNING *)
				INSERT INTO TBL_PROGRM_APPLC (	
				SEQ							
				, ORG_SEQ									   
				, PPM_SEQ						
				)
				SELECT (SELECT COALESCE(max(seq),0)+1 AS seq FROM TBL_PROGRM_APPLC)
				,#{org_seq},#{ppm_seq} WHERE NOT EXISTS (SELECT * FROM upsert)
	</update> -->


</mapper>
