<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
 
<mapper namespace="com.mapper.IPolicyDeviceMapper">

<select id="deviceList" resultType="com.model.PolicyDeviceVo">
		SELECT 
			sm_seq, sm_name, sm_status, sm_dc, sm_port, sm_gubun, sm_device_code
		FROM tbl_security_mngr;
	</select>
	
	<insert id="deviceSave" parameterType="java.util.HashMap">
		WITH rows AS (
			INSERT INTO 
				TBL_DEVICE_APPLC 
					( ORG_SEQ									   
					, PPM_SEQ) VALUES
					<foreach collection="data" item="item" separator=",">
	            (#{item.org_seq},#{ppm_seq})
	        		</foreach>
        RETURNING seq, org_seq, ppm_seq
		)   
		INSERT INTO tbl_device_applc_history (dvc_seq, org_seq, ppm_seq,  insert_dt  ) SELECT seq, org_seq, ppm_seq, now() FROM rows 	
		
	</insert>
	
	<delete id="deviceDelete" parameterType="java.util.HashMap">
		DELETE FROM TBL_DEVICE_APPLC WHERE ORG_SEQ IN (
		<foreach collection="data" item="item" separator=",">
	            #{item.org_seq}
	        		</foreach>
		)
	</delete>
	
	<select id="deviceApplcView" resultType="com.model.PolicyDeviceVo" parameterType="com.model.PolicyDeviceVo" >
		SELECT 
			ORG_SEQ,PPM_SEQ 
		FROM  TBL_DEVICE_APPLC 
		WHERE ORG_SEQ = #{org_seq}
	</select>
	
	<select id="dManagePopList" resultType="com.model.PolicyDeviceVo" parameterType="java.util.HashMap">
		select 
    		TA.*,
    		TB.ppm_seq
		from tbl_security_mngr TA 
			left outer join 
			(
			    select
			     DISTINCT UNNEST(regexp_split_to_array(ARRAY_TO_STRING(ARRAY_AGG(ppm_seq),',') , ',')::int[]) ppm_seq
			    from tbl_device_applc
			) TB on TA.sm_seq = TB.ppm_seq
			where  TA.sm_gubun ='D'
		order by sm_seq desc
		OFFSET #{pagingVo.limitStart} LIMIT #{pagingVo.recordSize}
		
	</select>
	
	<select id="devicePolicyCount" resultType="Integer" parameterType="com.model.PolicyDeviceVo">
	SELECT count(*) as cnt FROM tbl_device_applc WHERE (select cast(seq as text) from tbl_security_mngr where seq=#{seq}) = ANY(STRING_TO_ARRAY(ppm_seq, ','));
	</select>
	
	<insert id="devicePopSave" parameterType="com.model.PolicyDeviceVo">
        INSERT
        	INTO TBL_SECURITY_MNGR (
        		SM_NAME, 
        		SM_DC,
        		SM_GUBUN,
        		SM_DEVICE_CODE
        		 ) 
       		VALUES (
       			#{sm_name}, 
        		#{sm_dc},
        		'D',
        		#{sm_device_code}
       		)
	</insert>
	

	<delete id="devicePopDelete" parameterType="com.model.PolicyDeviceVo">
		DELETE 
			FROM tbl_security_mngr
		WHERE 
			sm_seq 
		IN 
			<foreach collection="deleteList" item="item" separator="," index="index" open="(" close=")">
				'${deleteList[index]}'::bigint
			</foreach>
			and sm_gubun='D'
	</delete>
	
	<select id="devicePopCount" resultType="Integer" parameterType="com.model.PolicyDeviceVo">
		SELECT count(*) FROM tbl_security_mngr where sm_gubun = 'D';
	</select>

</mapper>
