<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
 
<mapper namespace="com.mapper.IPolicyFireWallMapper">

<select id="fireWallList" resultType="com.model.PolicyFireWallVo">
		SELECT sm_seq, sm_name, sm_status, sm_dc, sm_port
		FROM tbl_policy_firewall_list where domain = #{domain}
	</select>
	
	<insert id="fireWallSave" parameterType="java.util.HashMap">
		WITH rows AS (
			INSERT INTO TBL_FRWL_APPLC 
					(ORG_SEQ,								   
					PPM_SEQ,
					DOMAIN,
					JOB_ID) VALUES
					<foreach collection="data" item="item" separator=",">
	            (#{item.org_seq},#{ppm_seq},#{domain},#{job_id})
	        		</foreach>
		RETURNING seq, org_seq, ppm_seq, domain, job_id
		)   
		INSERT INTO tbl_frwl_applc_history (frwl_seq, org_seq, ppm_seq, domain, job_id, RGSTR_DATE ) SELECT seq, org_seq, ppm_seq, domain, job_id, now() FROM rows 	
		
	</insert>
	
	
	<delete id="fireWallDelete" parameterType="java.util.HashMap">
	DELETE FROM TBL_FRWL_APPLC WHERE ORG_SEQ IN (
	<foreach collection="data" item="item" separator=",">
            #{item.org_seq}
        		</foreach>
	) and domain = #{domain}
	</delete>
	
	<select id="fireWallApplcView" resultType="com.model.PolicyFireWallVo" parameterType="com.model.PolicyFireWallVo" >
 			SELECT array_to_string(array_agg(tua.ppm_seq),',')as ppm_seq FROM
			(SELECT distinct unnest(string_to_array(ppm_seq, ',')) ppm_seq
			FROM 
			TBL_FRWL_APPLC 
			WHERE ORG_SEQ in (with recursive search_org(domain,seq,p_seq,org_nm,org_ordr,section,level,path,cycle) as (
			select a.domain,a.seq,a.p_seq,a.org_nm,a.org_ordr,a.section,0,array[a.seq],false
			from tbl_org a 
			where a.seq = #{org_seq}
			and a.domain = #{domain}
			union all
			select b.domain,b.seq,b.p_seq,b.org_nm,b.org_ordr,b.section,level+1,path || b.seq,b.seq=any(path)
			from tbl_org b, search_org so 
		where b.p_seq = so.seq and b.domain = so.domain and not cycle)
		select seq
		from search_org 
		where 1=1
		order by level,org_ordr) and domain = #{domain} )tua
	</select>
	
	<select id="fManagePopList" resultType="com.model.PolicyFireWallVo" parameterType="java.util.HashMap">
		select 
    		TA.*,
    		TB.ppm_seq
		from tbl_policy_firewall_list TA
			left outer join 
			(
			    select
			     DISTINCT UNNEST(regexp_split_to_array(ARRAY_TO_STRING(ARRAY_AGG(ppm_seq),',') , ',')::int[]) ppm_seq
			    from tbl_frwl_applc
			) TB on TA.sm_seq = TB.ppm_seq
			where TA.domain = #{mngeVo.domain}
			order by TA.sm_seq desc
		OFFSET #{pagingVo.limitStart} LIMIT #{pagingVo.recordSize}
		
	</select>
	
	<select id="fireWallPolicyCount" resultType="com.model.PolicyFireWallVo" parameterType="com.model.PolicyFireWallVo">
		select 
		    TA.sm_seq,
		    TB.ppm_seq
		from tbl_policy_firewall_list TA 
			left outer join 
			(
			    select
			     DISTINCT UNNEST(regexp_split_to_array(ARRAY_TO_STRING(ARRAY_AGG(ppm_seq),',') , ',')::int[]) ppm_seq
			    from tbl_frwl_applc
			) TB on TA.sm_seq = TB.ppm_seq
	</select>
	<insert id="fireWallPopSave" parameterType="com.model.PolicyFireWallVo">
        INSERT
        	INTO tbl_policy_firewall_list (
						DOMAIN,
        		SM_NAME, 
        		SM_DC,
        		SM_PORT
        		 ) 
       		VALUES (
						 #{domain},
       			#{sm_name}, 
        		#{sm_dc},
        		#{sm_port}
       		)
	</insert>
	

	<delete id="fireWallPopDelete" parameterType="com.model.PolicyFireWallVo">
		DELETE 
			FROM tbl_policy_firewall_list
		WHERE
			domain = #{domain} 
			and sm_seq IN 
			<foreach collection="deleteList" item="item" separator="," index="index" open="(" close=")">
				'${deleteList[index]}'::bigint
			</foreach>
			
	</delete>

	<select id="fireWallPopCount" parameterType="com.model.PolicyFireWallVo" resultType="Integer">
		SELECT count(*) FROM tbl_policy_firewall_list where domain = #{domain}
	</select>

	<select id="getFrwlHistoryLastJob" parameterType="com.model.PolicyFireWallVo" resultType="int">
		SELECT COALESCE(max(JOB_ID),0) as job_id FROM tbl_frwl_applc_history WHERE DOMAIN = #{domain} and ORG_SEQ = #{org_seq}
	</select>

</mapper>
