<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mapper.ITenantconfigMapper">
	
	
	<select id="getTenantRemoteConfig" resultType="com.model.TenantconfigVo">
		SELECT *
		FROM tbl_tenant_config
		<where>
			domain = #{domain}
		</where>
		
	</select>
	
	
	<update id="tenantInfoSave" parameterType="com.model.TenantconfigVo">
		INSERT INTO tbl_tenant_config
		(
		    domain
		    , tenant_hadmin_config
		    , tenant_authkey
		    , tenant_hadmin_private_key
		    , tenant_hadmin_public_key 
		    , rgstr_date
		    , updt_date
		  )
		VALUES(
		  #{domain}
		  , #{tenant_hadmin_config}
		  , #{tenant_authkey}
		  , #{tenant_hadmin_public_key}
		  , #{tenant_hadmin_private_key}
		  , now()
		  , now()
		);
	</update>

	<select id="getSvrLdapInfo" resultType="com.model.SvrlstVo" parameterType="com.model.SvrlstVo">
		SELECT 
			* 
		FROM tbl_svrlst
		WHERE svr_nm = 'LDAP' 
	</select>
	
</mapper>