<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
 
<mapper namespace="com.mapper.IUnauthorizedMapper">



 <insert id="unAuthorizedInsert" parameterType="com.model.UnauthorizedDeviceLog">   
		INSERT INTO 
			tbl_unauthorized_device_log (
			    pc_uuid, 
			    vendor, 
			    product, 
			    info, 
					pc_hostname, 
			    rgstr_date,
			    org_seq
			)
			VALUES
			<foreach collection="list" item="item" separator=" , ">
				(
			    #{item.pc_uuid}, 
			    #{item.vendor},
			    #{item.product}, 
			    #{item.info},
			    #{item.pc_hostname},
					#{item.rgstr_date},
			    <!-- TO_TIMESTAMP(#{item.insert_dt},'YYYY-MM-DD HH24:MI:SS.MS'), -->
			    (select org_seq from public.tbl_pc_mangr where pc_uuid = #{item.pc_uuid} ) 
			)
		</foreach>
	</insert>
	
	
</mapper>