<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
 
<mapper namespace="com.mapper.IUpdtPollicyMapper">



	<delete id="updtDeleteProgrm" parameterType="java.util.Map">
		DELETE FROM tbl_policy_progrm_block_list
		WHERE pcm_name in
	            (
		 <foreach collection="list" item="item" separator=" , ">
	            	#{item.debname}
	        </foreach>
	             )
	</delete>
	
	<delete id="deleteProccessBlockProgrm" parameterType="java.util.Map">
		DELETE FROM tbl_act_progrm_log
		WHERE 
		<foreach collection="list" item="item" separator=" or ">
			(uuid = #{item.pc_uuid}
			and progrmname = #{item.debname})
		</foreach>
	</delete>

	<insert id="updtInsertProgrm" parameterType="com.model.UpdtPolicyVo">
		INSERT INTO tbl_policy_progrm_block_list (pcm_name, pcm_path, rgstr_date)
		SELECT #{debname}, #{path} , now()
		WHERE NOT EXISTS (SELECT * FROM tbl_policy_progrm_block_list WHERE pcm_name= #{debname} )        
	</insert>
	
 	<insert id="updtPolicyActionResultInsert" parameterType="java.util.Map">   
		INSERT INTO 
			tbl_updt_policy_action_result (
			   debname,
			   debver,
			   state, 
			   path, 
			   gubun, 
			   pc_uuid, 
			   org_seq,
			   insert_dt 
			)
			VALUES
			<foreach collection="list" item="item" separator=" , ">
	            (
	            	#{item.debname}, 
	            	#{item.debver}, 
	            	#{item.state}, 
	            	#{item.path}, 
	            	#{item.gubun}, 
	            	#{item.pc_uuid},
	             	(select org_seq from public.tbl_pc_mangr where pc_uuid = #{item.pc_uuid} ), 
	             	now()
	             )
	        </foreach>
			
	        
	</insert>
		
	
</mapper>
