<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
 
<mapper namespace="com.mapper.IUserMapper">
	
	<select id="userList" resultType="com.model.UserVo"  parameterType="com.model.UserVo">
		SELECT 
			a.seq, 
			a.user_sabun, 
			a.user_id, 
			a.pass_wd, 
			a.user_name, 
			ins_date, 
			to_char(a.upd_date, 'YYYY-MM-DD') as upd_date, 
			a.kind,
			case when a.rank = '002' then '사원'
			when a.rank = '003' then '부서장'
			when a.rank = '004' then '부문장'
			when a.rank = '005' then '대표' 
			else ''
			end as rank , 
			a.discharge_dt, 
			a.org_seq,
			(select org_nm from tbl_org where seq = (select p_seq from tbl_org b where a.org_seq = b.seq)) as p_org_nm,
			(select org_nm from tbl_org where seq = (select seq from tbl_org b where a.org_seq = b.seq)) as org_nm
		FROM tbl_user a
		<where>
		1=1
		<if test="org_seq != 1 ">
				and a.org_seq in (
				with recursive search_org(seq,p_seq,org_nm,org_ordr,level,path,cycle) as (
					select a.seq,a.p_seq,a.org_nm,a.org_ordr,0,array[a.seq],false
					from tbl_org a
					where a.seq = #{org_seq}
					union all
					select a.seq,a.p_seq,a.org_nm,a.org_ordr,level+1,path || a.seq,a.seq=any(path)
					from tbl_org a, search_org so 
					where a.p_seq = so.seq and not cycle)
					select seq
					from search_org
				)
		</if>
		<if test="date_fr != null and date_fr != ''">
		<![CDATA[
		and first_date >= #{date_fr}::date 
		]]>
		</if>
		<if test="date_to != null and date_to != ''">
		<![CDATA[
		and first_date <= #{date_to}::date 
		]]>
		</if>
		<if test="txtSearch != null " >
			<if test="keyWord == 1 " >
				and a.user_name like '%' || #{txtSearch} || '%'
			</if>
			<if test="keyWord == 2 " >
				and a.user_id like '%' || #{txtSearch} || '%'
			</if>
			<if test="keyWord == 3 " >
				and (select org_nm from tbl_org where seq = (select p_seq from tbl_org b where a.org_seq = b.seq)) like '%' || #{txtSearch} || '%'
			</if>
			<if test="keyWord == 4 " >
				and a.user_sabun like '%' || #{txtSearch} || '%'
			</if>
			<if test="keyWord == 0 " >
				and (a.user_name like '%' || #{txtSearch} || '%'
				or a.user_id like '%' || #{txtSearch} || '%'
				or a.user_sabun like '%' || #{txtSearch} || '%'
				or (select org_nm from tbl_org where seq = (select p_seq from tbl_org b where a.org_seq = b.seq)) like '%' || #{txtSearch} || '%')
			</if>
		</if>
		</where>
		 OFFSET #{limitStart} LIMIT #{recordSize}
	</select>
	
	
	<select id="countListInfo" parameterType="com.model.UserVo" resultType="Integer">
	select count(*) as tbl_cnt
	from tbl_user
	<where>
		<if test="org_seq != 1 ">
				org_seq in (
				with recursive search_org(seq,p_seq,org_nm,org_ordr,level,path,cycle) as (
    select a.seq,a.p_seq,a.org_nm,a.org_ordr,0,array[a.seq],false
    from tbl_org a
    where a.seq = #{org_seq}
    union all
    select a.seq,a.p_seq,a.org_nm,a.org_ordr,level+1,path || a.seq,a.seq=any(path)
    from tbl_org a, search_org so 
    where a.p_seq = so.seq and not cycle)
    select seq
    from search_org
				)
		</if>
		<if test="txtSearch != null " >
			<if test="keyWord == 1 " >
				and user_name like '%' || #{txtSearch} || '%'
			</if>
			<if test="keyWord == 2 " >
				and user_id like '%' || #{txtSearch} || '%'
			</if>
			<if test="keyWord == 3 " >
				and (select org_nm from tbl_org where seq = (select p_seq from tbl_org b where org_seq = b.seq)) like '%' || #{txtSearch} || '%'
			</if>
			<if test="keyWord == 4 " >
				and user_sabun like '%' || #{txtSearch} || '%'
			</if>
			<if test="keyWord == 0 " >
				and (user_name like '%' || #{txtSearch} || '%'
				or user_id like '%' || #{txtSearch} || '%'
				or user_sabun like '%' || #{txtSearch} || '%'
				or (select org_nm from tbl_org where seq = (select p_seq from tbl_org b where org_seq = b.seq)) like '%' || #{txtSearch} || '%')
			</if>
		</if>
		</where>
	</select>

	<select id="userView" resultType="com.model.UserVo"  parameterType="com.model.UserVo">
		SELECT 
			a.seq, 
			a.user_sabun, 
			a.user_id, 
			a.pass_wd, 
			a.user_name, 
			ins_date,
			email,
			tel, 
			to_char(a.upd_date, 'YYYY-MM-DD') as upd_date, 
			a.kind,
			case when a.rank = '002' then '사원'
			when a.rank = '003' then '대리'
			when a.rank = '004' then '과장'
			when a.rank = '005' then '부장' 
			else ''
			end as rank , 
			a.discharge_dt, 
			a.org_seq,
			(select org_nm from tbl_org where seq = (select seq from tbl_org b where a.org_seq = b.seq)) as org_nm
		FROM tbl_user a
		<where>
				a.seq = #{seq}
		</where>	 
	</select>
	
	<select id="countPcListInfo" parameterType="com.model.PcMangrVo" resultType="Integer">
		SELECT 
			count(*)  as tbl_cnt
		FROM tbl_pc_mangr
		<where>
			<if test="selectOrgSeq != null and selectOrgSeq != '' ">
					org_seq = #{selectOrgSeq}
			</if>
		</where>
	</select>
	
	<!-- 사용자 정보 유효성 체크 -->
	<select id="userIdCheck" parameterType="com.model.UserVo" resultType="Integer">
		SELECT COUNT(USER_ID)
		FROM TBL_USER
		WHERE USER_ID = #{user_id}
	</select>

	<select id="userSabunCheck" parameterType="com.model.UserVo" resultType="Integer">
		SELECT COUNT(sabun)
		FROM TBL_USER
		WHERE user_sabun = #{sabun}
	</select>

	<insert id="userSave" parameterType="com.model.UserVo" >
		insert into 
		TBL_USER(
			user_id,
			pass_wd,
			user_name,
			kind,
			rank,
			email,
			tel,
			org_seq,
			position,
			user_sabun,
			ins_date
		)
		values(
			#{user_id},
			#{pass_wd},
			#{user_name},
			#{kind},
			#{rank},
			#{email},
			#{tel},
			#{org_seq},
			#{position},
			#{user_sabun},
			#{ins_date}
		)

	</insert> 

	<delete id="userDelete" parameterType="java.util.List"> 
		DELETE FROM TBL_USER 
		WHERE seq IN
		<foreach collection="list" item="item"  index="i" open="(" separator="," close=")"> 
			#{item.seq}
		</foreach>
			 
	</delete>

	<update id="userModify" parameterType="com.model.UserVo">
		UPDATE TBL_USER
		SET 
		user_id = #{user_id},
		<if test="pass_wd != null">
			pass_wd = #{pass_wd},
		</if>
		user_name = #{user_name},
		kind = #{kind},
		rank = #{rank},
		email = #{email},
		tel = #{tel},		
		org_seq = #{org_seq},
		position = #{position},
		user_sabun = #{user_sabun},
		upd_date = now()
		WHERE user_id = #{user_id}
	</update>
	
	<select id="getUserOrgPath" parameterType="Integer" resultType="com.model.OrgVo"> 
		select distinct a.all_org_nm, a.org_nm , a.p_seq 
		from tbl_org a left outer join tbl_user b on a.seq = b.org_seq 
		where b.org_seq in (
			select org_seq 
			from tbl_user 
			where seq = #{seq}
		)
	</select>

	<select id="getUserNewOrgPath" parameterType="Integer" resultType="com.model.OrgVo"> 
		select all_org_nm 
		from tbl_org 
		where seq = #{seq}
	</select>
	
	<select id="getUserInfo" parameterType="Integer" resultType="com.model.UserVo"> 
		select * from tbl_user tu 
		where seq = #{seq}
	</select>
	
</mapper>
